/* SOURCE: 
https://www.deviantart.com/hacker33beta/art/Pixel-Art-Ryu-Street-Fighter-413040268
https://www.deviantart.com/hacker33beta */

$outline: #252525;
$outline2: #504644;
$hair1: #5c4d54;
$hair2: #855348;
$skin1: #b07f6e;
$skin2: #824e39;
$clothes: #808281;
$clothes2: #aab9b6;
$clothes3: #fff;
$scarf1: #783d53;
$scarf2: #b2434c;
$eye1: #b85c67;
$eye2: #976959;
$eye3: #e6e6e6;
$feet: #3e3433;

body {
    background-color: white; 
}

.ryu {
    width:20rem;
    height:20rem;
    top:50%;
    left:50%;
    transform:translate(-150% ,-130%);
    position:absolute;
}

.hadoken {
    width: 1rem;
    height: 1rem;
    box-shadow: 
    /* row 1 */
    14rem 0rem 0 0rem $scarf1,
    15rem 0rem 0 0rem $scarf1,
    16rem 0rem 0 0rem $scarf1,
    17rem 0rem 0 0rem $scarf1,
    18rem 0rem 0 0rem $scarf1,
    19rem 0rem 0 0rem $scarf1,                    
    33rem 0rem 0 0rem $outline,
    /* row 2 */
    15rem 1rem 0 0rem $scarf1,
    16rem 1rem 0 0rem $scarf2,
    17rem 1rem 0 0rem $scarf2,
    18rem 1rem 0 0rem $scarf2,
    19rem 1rem 0 0rem $scarf2,
    20rem 1rem 0 0rem $scarf1,
    21rem 1rem 0 0rem $scarf1,                        
    33rem 1rem 0 0rem $outline,
    34rem 1rem 0 0rem $outline,    
    /* row 3 */
    12rem 2rem 0 0rem $scarf2,
    13rem 2rem 0 0rem $scarf2,
    14rem 2rem 0 0rem $scarf2,
    15rem 2rem 0 0rem $scarf2,
    16rem 2rem 0 0rem $scarf1,
    17rem 2rem 0 0rem $scarf1,
    18rem 2rem 0 0rem $scarf1,                        
    19rem 2rem 0 0rem $scarf1,
    20rem 2rem 0 0rem $scarf1,    
    21rem 2rem 0 0rem $scarf2,
    22rem 2rem 0 0rem $scarf1,
    23rem 2rem 0 0rem $scarf1, 
    33rem 2rem 0 0rem $outline,
    34rem 2rem 0 0rem $hair1,
    35rem 2rem 0 0rem $outline,           
    /* row 4 */
    13rem 3rem 0 0rem $scarf2,
    14rem 3rem 0 0rem $scarf2,
    15rem 3rem 0 0rem $scarf2,
    16rem 3rem 0 0rem $scarf2,
    17rem 3rem 0 0rem $scarf2,
    18rem 3rem 0 0rem $scarf2,                        
    19rem 3rem 0 0rem $scarf2,
    20rem 3rem 0 0rem $scarf2,    
    21rem 3rem 0 0rem $scarf1,
    22rem 3rem 0 0rem $scarf1,
    23rem 3rem 0 0rem $scarf2, 
    24rem 3rem 0 0rem $scarf1,    
    28rem 3rem 0 0rem $outline,
    29rem 3rem 0 0rem $outline,
    30rem 3rem 0 0rem $outline,
    31rem 3rem 0 0rem $outline,
    32rem 3rem 0 0rem $outline,                    
    33rem 3rem 0 0rem $outline,
    34rem 3rem 0 0rem $hair1,
    35rem 3rem 0 0rem $hair2,
    36rem 3rem 0 0rem $outline,    
    40rem 3rem 0 0rem $outline,        
    /* row 5 */        
    14rem 4rem 0 0rem $scarf2,
    15rem 4rem 0 0rem $scarf2,
    16rem 4rem 0 0rem $scarf2,
    17rem 4rem 0 0rem $scarf2,
    18rem 4rem 0 0rem $scarf2,                        
    19rem 4rem 0 0rem $scarf2,
    20rem 4rem 0 0rem $scarf2,    
    21rem 4rem 0 0rem $scarf2,
    22rem 4rem 0 0rem $scarf2,
    23rem 4rem 0 0rem $scarf1, 
    24rem 4rem 0 0rem $scarf2,    
    25rem 4rem 0 0rem $scarf1,
    27rem 4rem 0 0rem $scarf2,
    28rem 4rem 0 0rem $scarf2,
    29rem 4rem 0 0rem $hair1,
    30rem 4rem 0 0rem $hair1,
    31rem 4rem 0 0rem $hair1,                
    32rem 4rem 0 0rem $hair2,
    33rem 4rem 0 0rem $hair2,
    34rem 4rem 0 0rem $hair1,                    
    35rem 4rem 0 0rem $hair2,
    36rem 4rem 0 0rem $hair2,
    37rem 4rem 0 0rem $outline,
    39rem 4rem 0 0rem $outline,
    40rem 4rem 0 0rem $outline,        
    /* row 6 */
    15rem 5rem 0 0rem $scarf2,
    16rem 5rem 0 0rem $scarf2,
    17rem 5rem 0 0rem $scarf2,
    18rem 5rem 0 0rem $scarf2,                        
    19rem 5rem 0 0rem $scarf2,
    20rem 5rem 0 0rem $scarf2,    
    21rem 5rem 0 0rem $scarf1,
    22rem 5rem 0 0rem $scarf2,
    23rem 5rem 0 0rem $scarf2, 
    24rem 5rem 0 0rem $scarf1,    
    25rem 5rem 0 0rem $scarf1,
    26rem 5rem 0 0rem $scarf1,    
    27rem 5rem 0 0rem $scarf2,
    28rem 5rem 0 0rem $scarf2,
    29rem 5rem 0 0rem $scarf2,
    30rem 5rem 0 0rem $hair1,
    31rem 5rem 0 0rem $hair1,
    32rem 5rem 0 0rem $hair1,
    33rem 5rem 0 0rem $hair2,
    34rem 5rem 0 0rem $hair2,
    35rem 5rem 0 0rem $hair1,
    36rem 5rem 0 0rem $hair2,
    37rem 5rem 0 0rem $hair2,
    38rem 5rem 0 0rem $outline,
    39rem 5rem 0 0rem $hair1, 
    40rem 5rem 0 0rem $outline,                            
    /* row 7 */    
    22rem 6rem 0 0rem $scarf1,
    23rem 6rem 0 0rem $scarf2, 
    24rem 6rem 0 0rem $scarf2,    
    25rem 6rem 0 0rem $scarf1,
    26rem 6rem 0 0rem $scarf2,    
    27rem 6rem 0 0rem $scarf2,
    28rem 6rem 0 0rem $scarf2,
    29rem 6rem 0 0rem $scarf2,
    30rem 6rem 0 0rem $scarf2,
    31rem 6rem 0 0rem $hair1,
    32rem 6rem 0 0rem $hair1,
    33rem 6rem 0 0rem $hair1,
    34rem 6rem 0 0rem $hair2,
    35rem 6rem 0 0rem $hair1,
    36rem 6rem 0 0rem $hair2,
    37rem 6rem 0 0rem $hair2,
    38rem 6rem 0 0rem $hair1,
    39rem 6rem 0 0rem $hair2, 
    40rem 6rem 0 0rem $outline,
    /* row 8 */ 
    24rem 7rem 0 0rem $scarf1,    
    25rem 7rem 0 0rem $scarf1,
    26rem 7rem 0 0rem $scarf1,    
    27rem 7rem 0 0rem $scarf2,
    28rem 7rem 0 0rem $scarf2,
    29rem 7rem 0 0rem $scarf2,
    30rem 7rem 0 0rem $scarf2,
    31rem 7rem 0 0rem $scarf2,
    32rem 7rem 0 0rem $hair1,
    33rem 7rem 0 0rem $hair1,
    34rem 7rem 0 0rem $hair1,
    35rem 7rem 0 0rem $hair1,
    36rem 7rem 0 0rem $hair2,
    37rem 7rem 0 0rem $hair2,
    38rem 7rem 0 0rem $hair1,
    39rem 7rem 0 0rem $hair2, 
    40rem 7rem 0 0rem $outline,
    /* row 9 */   
    19rem 8rem 0 0rem $outline,    
    25rem 8rem 0 0rem $outline,
    26rem 8rem 0 0rem $outline,    
    27rem 8rem 0 0rem $scarf1,
    28rem 8rem 0 0rem $scarf2,
    29rem 8rem 0 0rem $scarf2,
    30rem 8rem 0 0rem $scarf2,
    31rem 8rem 0 0rem $scarf2,
    32rem 8rem 0 0rem $scarf2,
    33rem 8rem 0 0rem $scarf2,
    34rem 8rem 0 0rem $scarf2,
    35rem 8rem 0 0rem $hair1,
    36rem 8rem 0 0rem $hair1,
    37rem 8rem 0 0rem $hair2,
    38rem 8rem 0 0rem $hair2,
    39rem 8rem 0 0rem $hair2, 
    40rem 8rem 0 0rem $hair1,
    41rem 8rem 0 0rem $outline,
    42rem 8rem 0 0rem $outline,
    43rem 8rem 0 0rem $outline,            
    /* row 10 */
    19rem 9rem 0 0rem $outline,
    20rem 9rem 0 0rem $outline,        
    25rem 9rem 0 0rem $outline,
    26rem 9rem 0 0rem $outline,    
    27rem 9rem 0 0rem $skin2,
    28rem 9rem 0 0rem $scarf1,
    29rem 9rem 0 0rem $scarf1,
    30rem 9rem 0 0rem $scarf2,
    31rem 9rem 0 0rem $scarf2,
    32rem 9rem 0 0rem $scarf2,
    33rem 9rem 0 0rem $scarf2,
    34rem 9rem 0 0rem $scarf2,
    35rem 9rem 0 0rem $scarf2,
    36rem 9rem 0 0rem $scarf2,
    37rem 9rem 0 0rem $hair1,
    38rem 9rem 0 0rem $hair2,
    39rem 9rem 0 0rem $hair2, 
    40rem 9rem 0 0rem $hair1,
    41rem 9rem 0 0rem $hair2,
    42rem 9rem 0 0rem $outline,
    /* row 11 */
    19rem 10rem 0 0rem $outline,
    20rem 10rem 0 0rem $clothes, 
    21rem 10rem 0 0rem $clothes,            
    25rem 10rem 0 0rem $outline,
    26rem 10rem 0 0rem $skin2,    
    27rem 10rem 0 0rem $skin2,
    28rem 10rem 0 0rem $skin1,
    29rem 10rem 0 0rem $outline,
    30rem 10rem 0 0rem $scarf1,
    31rem 10rem 0 0rem $scarf1,
    32rem 10rem 0 0rem $scarf2,
    33rem 10rem 0 0rem $scarf2,
    34rem 10rem 0 0rem $scarf2,
    35rem 10rem 0 0rem $scarf2,
    36rem 10rem 0 0rem $scarf2,
    37rem 10rem 0 0rem $scarf2,
    38rem 10rem 0 0rem $scarf2,
    39rem 10rem 0 0rem $scarf2, 
    40rem 10rem 0 0rem $hair2,
    41rem 10rem 0 0rem $outline,
    48rem 10rem 0 0rem $outline2,
    49rem 10rem 0 0rem $skin2, 
    50rem 10rem 0 0rem $skin2,
    51rem 10rem 0 0rem $skin2,
    52rem 10rem 0 0rem $skin2,     
    /* row 12 */
    19rem 11rem 0 0rem $outline,
    20rem 11rem 0 0rem $clothes,
    21rem 11rem 0 0rem $clothes3,     
    22rem 11rem 0 0rem $clothes,            
    25rem 11rem 0 0rem $outline,
    26rem 11rem 0 0rem $skin2,    
    27rem 11rem 0 0rem $skin2,
    28rem 11rem 0 0rem $skin1,
    29rem 11rem 0 0rem $outline,
    30rem 11rem 0 0rem $skin2,
    31rem 11rem 0 0rem $skin2,
    32rem 11rem 0 0rem $outline,
    33rem 11rem 0 0rem $outline,
    34rem 11rem 0 0rem $scarf1,
    35rem 11rem 0 0rem $scarf2,
    36rem 11rem 0 0rem $scarf2,
    37rem 11rem 0 0rem $scarf2,
    38rem 11rem 0 0rem $scarf2,
    39rem 11rem 0 0rem $scarf2, 
    40rem 11rem 0 0rem $scarf2,
    47rem 11rem 0 0rem $outline2,
    48rem 11rem 0 0rem $skin2, 
    49rem 11rem 0 0rem $skin1,
    50rem 11rem 0 0rem $skin1,
    51rem 11rem 0 0rem $skin1, 
    52rem 11rem 0 0rem $skin2,    
    /* row 13 */
    19rem 12rem 0 0rem $outline,
    20rem 12rem 0 0rem $clothes,
    21rem 12rem 0 0rem $clothes3,
    22rem 12rem 0 0rem $clothes3,     
    23rem 12rem 0 0rem $clothes,
    24rem 12rem 0 0rem $clothes,           
    25rem 12rem 0 0rem $clothes,
    26rem 12rem 0 0rem $skin2,    
    27rem 12rem 0 0rem $skin2,
    28rem 12rem 0 0rem $skin1,
    29rem 12rem 0 0rem $skin2,
    30rem 12rem 0 0rem $skin2,
    31rem 12rem 0 0rem $skin1,
    32rem 12rem 0 0rem $skin1,
    33rem 12rem 0 0rem $eye2,
    34rem 12rem 0 0rem $outline,
    35rem 12rem 0 0rem $scarf1,
    36rem 12rem 0 0rem $scarf2,
    37rem 12rem 0 0rem $scarf2,
    38rem 12rem 0 0rem $scarf2,
    39rem 12rem 0 0rem $scarf2, 
    40rem 12rem 0 0rem $scarf2,       
    47rem 12rem 0 0rem $outline2,
    48rem 12rem 0 0rem $skin2, 
    49rem 12rem 0 0rem $skin1,
    50rem 12rem 0 0rem $skin1,
    51rem 12rem 0 0rem $skin1, 
    52rem 12rem 0 0rem $skin2,         
    /* row 14 */
    14rem 13rem 0 0rem $outline, 
    15rem 13rem 0 0rem $outline, 
    16rem 13rem 0 0rem $outline, 
    17rem 13rem 0 0rem $outline, 
    18rem 13rem 0 0rem $outline,                    
    19rem 13rem 0 0rem $outline,
    20rem 13rem 0 0rem $clothes,
    21rem 13rem 0 0rem $clothes3,
    22rem 13rem 0 0rem $clothes3,
    23rem 13rem 0 0rem $clothes3,
    24rem 13rem 0 0rem $clothes3,
    25rem 13rem 0 0rem $clothes3,                     
    26rem 13rem 0 0rem $clothes,    
    27rem 13rem 0 0rem $clothes,
    28rem 13rem 0 0rem $skin2,
    29rem 13rem 0 0rem $skin1,
    30rem 13rem 0 0rem $skin1,
    31rem 13rem 0 0rem $skin1,
    32rem 13rem 0 0rem $eye2,
    33rem 13rem 0 0rem $eye3,
    34rem 13rem 0 0rem $outline,
    35rem 13rem 0 0rem $eye3,
    36rem 13rem 0 0rem $scarf1,
    37rem 13rem 0 0rem $scarf1,
    38rem 13rem 0 0rem $scarf2,
    39rem 13rem 0 0rem $scarf1,
    46rem 13rem 0 0rem $scarf2,       
    47rem 13rem 0 0rem $outline2,
    48rem 13rem 0 0rem $skin2, 
    49rem 13rem 0 0rem $skin1,
    50rem 13rem 0 0rem $skin2,
    51rem 13rem 0 0rem $skin2,      
    /* row 15 */ 
    15rem 14rem 0 0rem $outline, 
    16rem 14rem 0 0rem $clothes, 
    17rem 14rem 0 0rem $clothes,
    18rem 14rem 0 0rem $clothes3,
    19rem 14rem 0 0rem $clothes3,
    20rem 14rem 0 0rem $clothes3,
    21rem 14rem 0 0rem $clothes3,
    22rem 14rem 0 0rem $clothes3,
    23rem 14rem 0 0rem $clothes3,
    24rem 14rem 0 0rem $clothes3,
    25rem 14rem 0 0rem $clothes3,
    26rem 14rem 0 0rem $clothes3,
    27rem 14rem 0 0rem $clothes3,                                         
    28rem 14rem 0 0rem $clothes,                    
    29rem 14rem 0 0rem $skin2,
    30rem 14rem 0 0rem $skin1,
    31rem 14rem 0 0rem $skin1,
    32rem 14rem 0 0rem $eye2,
    33rem 14rem 0 0rem $eye3,
    34rem 14rem 0 0rem $outline,
    35rem 14rem 0 0rem $outline,       
    36rem 14rem 0 0rem $eye2,
    37rem 14rem 0 0rem $eye2,
    38rem 14rem 0 0rem $outline2,
    45rem 14rem 0 0rem $scarf2,
    46rem 14rem 0 0rem $scarf2,       
    47rem 14rem 0 0rem $outline2,
    48rem 14rem 0 0rem $skin2, 
    49rem 14rem 0 0rem $skin1,
    50rem 14rem 0 0rem $skin2,   
    /* row 16 */  
    16rem 15rem 0 0rem $outline, 
    17rem 15rem 0 0rem $clothes,
    18rem 15rem 0 0rem $clothes3,
    19rem 15rem 0 0rem $clothes3,
    20rem 15rem 0 0rem $clothes3,
    21rem 15rem 0 0rem $clothes3,
    22rem 15rem 0 0rem $clothes3,                     
    23rem 15rem 0 0rem $outline2,
    24rem 15rem 0 0rem $outline2,
    25rem 15rem 0 0rem $outline2,
    26rem 15rem 0 0rem $outline2,
    27rem 15rem 0 0rem $clothes3,
    28rem 15rem 0 0rem $clothes3,                                        
    29rem 15rem 0 0rem $clothes,
    30rem 15rem 0 0rem $skin2,
    31rem 15rem 0 0rem $skin1,
    32rem 15rem 0 0rem $skin1,
    33rem 15rem 0 0rem $skin1,
    34rem 15rem 0 0rem $outline,
    35rem 15rem 0 0rem $eye1,       
    36rem 15rem 0 0rem $skin1,
    37rem 15rem 0 0rem $outline2, 
    45rem 15rem 0 0rem $scarf2,
    46rem 15rem 0 0rem $scarf2,       
    47rem 15rem 0 0rem $scarf2,
    48rem 15rem 0 0rem $scarf2, 
    49rem 15rem 0 0rem $scarf2,
    50rem 15rem 0 0rem $outline2,
    51rem 15rem 0 0rem $skin2,               
    /* row 17 */  
    17rem 16rem 0 0rem $outline, 
    18rem 16rem 0 0rem $clothes,
    19rem 16rem 0 0rem $clothes3,
    20rem 16rem 0 0rem $clothes3,
    21rem 16rem 0 0rem $clothes3,             
    22rem 16rem 0 0rem $outline2,
    23rem 16rem 0 0rem $skin2,
    24rem 16rem 0 0rem $skin2,
    25rem 16rem 0 0rem $skin2,
    26rem 16rem 0 0rem $skin2,
    27rem 16rem 0 0rem $outline2,                                        
    28rem 16rem 0 0rem $skin2,
    29rem 16rem 0 0rem $skin2,    
    30rem 16rem 0 0rem $skin2,
    31rem 16rem 0 0rem $skin2,
    32rem 16rem 0 0rem $skin2,
    33rem 16rem 0 0rem $skin1,
    34rem 16rem 0 0rem $skin1,
    35rem 16rem 0 0rem $skin1,       
    36rem 16rem 0 0rem $skin1,
    37rem 16rem 0 0rem $skin2,
    38rem 16rem 0 0rem $outline2,
    39rem 16rem 0 0rem $outline2,       
    40rem 16rem 0 0rem $outline2,
    41rem 16rem 0 0rem $outline2,    
    42rem 16rem 0 0rem $scarf1,
    43rem 16rem 0 0rem $scarf1,       
    44rem 16rem 0 0rem $scarf1,
    45rem 16rem 0 0rem $scarf1, 
    46rem 16rem 0 0rem $scarf2,       
    47rem 16rem 0 0rem $scarf2,
    48rem 16rem 0 0rem $scarf2,
    49rem 16rem 0 0rem $outline2,       
    50rem 16rem 0 0rem $skin2,
    51rem 16rem 0 0rem $skin1, 
    52rem 16rem 0 0rem $skin2, 
    /* row 18 */  
    18rem 17rem 0 0rem $outline, 
    19rem 17rem 0 0rem $clothes,
    20rem 17rem 0 0rem $clothes3,     
    21rem 17rem 0 0rem $outline2,
    22rem 17rem 0 0rem $skin2,    
    23rem 17rem 0 0rem $skin2,
    24rem 17rem 0 0rem $skin2,
    25rem 17rem 0 0rem $skin2,
    26rem 17rem 0 0rem $skin1,
    27rem 17rem 0 0rem $skin1,                                        
    28rem 17rem 0 0rem $skin1,
    29rem 17rem 0 0rem $skin1,    
    30rem 17rem 0 0rem $skin1,
    31rem 17rem 0 0rem $skin1,
    32rem 17rem 0 0rem $skin1,
    33rem 17rem 0 0rem $skin2,
    34rem 17rem 0 0rem $skin2,
    35rem 17rem 0 0rem $skin2,       
    36rem 17rem 0 0rem $skin2,
    37rem 17rem 0 0rem $skin2,
    38rem 17rem 0 0rem $outline2,
    39rem 17rem 0 0rem $skin2,       
    40rem 17rem 0 0rem $skin2,
    41rem 17rem 0 0rem $skin2,    
    42rem 17rem 0 0rem $scarf1,
    43rem 17rem 0 0rem $scarf2,       
    44rem 17rem 0 0rem $scarf2,
    45rem 17rem 0 0rem $scarf2, 
    46rem 17rem 0 0rem $scarf1,       
    47rem 17rem 0 0rem $scarf2,
    48rem 17rem 0 0rem $outline2,
    49rem 17rem 0 0rem $skin2,       
    50rem 17rem 0 0rem $skin1,
    51rem 17rem 0 0rem $skin1, 
    52rem 17rem 0 0rem $skin2,
    /* row 19 */  
    17rem 18rem 0 0rem $outline,
    18rem 18rem 0 0rem $clothes3,
    19rem 18rem 0 0rem $clothes3,
    20rem 18rem 0 0rem $clothes3,              
    21rem 18rem 0 0rem $outline2,
    22rem 18rem 0 0rem $skin2,    
    23rem 18rem 0 0rem $skin2,
    24rem 18rem 0 0rem $skin2,
    25rem 18rem 0 0rem $skin1,
    26rem 18rem 0 0rem $skin1,
    27rem 18rem 0 0rem $skin1,                                        
    28rem 18rem 0 0rem $skin1,
    29rem 18rem 0 0rem $skin1,    
    30rem 18rem 0 0rem $skin1,
    31rem 18rem 0 0rem $skin1,
    32rem 18rem 0 0rem $skin1,
    33rem 18rem 0 0rem $skin1,
    34rem 18rem 0 0rem $skin1,
    35rem 18rem 0 0rem $skin1,       
    36rem 18rem 0 0rem $skin1,
    37rem 18rem 0 0rem $skin1,
    38rem 18rem 0 0rem $skin1,
    39rem 18rem 0 0rem $outline2,       
    40rem 18rem 0 0rem $outline2,
    41rem 18rem 0 0rem $scarf1,    
    42rem 18rem 0 0rem $scarf1,
    43rem 18rem 0 0rem $scarf1,       
    44rem 18rem 0 0rem $scarf1,
    45rem 18rem 0 0rem $scarf1, 
    46rem 18rem 0 0rem $scarf1,       
    47rem 18rem 0 0rem $scarf2,
    48rem 18rem 0 0rem $outline2,
    49rem 18rem 0 0rem $skin2,       
    50rem 18rem 0 0rem $skin1,
    51rem 18rem 0 0rem $skin2,     
    /* row 20 */  
    16rem 19rem 0 0rem $clothes,
    17rem 19rem 0 0rem $clothes3,
    18rem 19rem 0 0rem $clothes3,
    19rem 19rem 0 0rem $clothes3,
    20rem 19rem 0 0rem $clothes3,                  
    21rem 19rem 0 0rem $outline2,
    22rem 19rem 0 0rem $skin2,    
    23rem 19rem 0 0rem $skin2,
    24rem 19rem 0 0rem $skin2,
    25rem 19rem 0 0rem $skin2,
    26rem 19rem 0 0rem $skin1,
    27rem 19rem 0 0rem $skin1,                                        
    28rem 19rem 0 0rem $skin1,
    29rem 19rem 0 0rem $skin1,    
    30rem 19rem 0 0rem $skin1,
    31rem 19rem 0 0rem $skin1,
    32rem 19rem 0 0rem $skin1,
    33rem 19rem 0 0rem $skin1,
    34rem 19rem 0 0rem $skin1,
    35rem 19rem 0 0rem $skin1,       
    36rem 19rem 0 0rem $skin1,
    37rem 19rem 0 0rem $skin1,
    38rem 19rem 0 0rem $skin1,
    39rem 19rem 0 0rem $skin1,       
    40rem 19rem 0 0rem $skin1,
    41rem 19rem 0 0rem $scarf1,    
    42rem 19rem 0 0rem $scarf2,
    43rem 19rem 0 0rem $scarf2,       
    44rem 19rem 0 0rem $scarf1,
    45rem 19rem 0 0rem $outline2, 
    46rem 19rem 0 0rem $skin2,       
    47rem 19rem 0 0rem $scarf2,
    48rem 19rem 0 0rem $outline2,
    49rem 19rem 0 0rem $skin2,       
    50rem 19rem 0 0rem $skin2, 
    /* row 21 */  
    15rem 20rem 0 0rem $outline,  
    16rem 20rem 0 0rem $clothes,
    17rem 20rem 0 0rem $clothes,
    18rem 20rem 0 0rem $clothes,
    19rem 20rem 0 0rem $clothes,
    20rem 20rem 0 0rem $clothes,                
    21rem 20rem 0 0rem $outline2,    
    22rem 20rem 0 0rem $skin2,    
    23rem 20rem 0 0rem $skin2,
    24rem 20rem 0 0rem $skin2,
    25rem 20rem 0 0rem $skin2,
    26rem 20rem 0 0rem $skin2,
    27rem 20rem 0 0rem $skin2,                                        
    28rem 20rem 0 0rem $skin1,
    29rem 20rem 0 0rem $skin1,    
    30rem 20rem 0 0rem $skin1,
    31rem 20rem 0 0rem $skin1,
    32rem 20rem 0 0rem $skin1,
    33rem 20rem 0 0rem $skin1,
    34rem 20rem 0 0rem $skin1,
    35rem 20rem 0 0rem $skin1,       
    36rem 20rem 0 0rem $skin1,
    37rem 20rem 0 0rem $skin1,
    38rem 20rem 0 0rem $skin1,
    39rem 20rem 0 0rem $skin1,       
    40rem 20rem 0 0rem $skin1,
    41rem 20rem 0 0rem $scarf1,    
    42rem 20rem 0 0rem $scarf2,
    43rem 20rem 0 0rem $scarf1,       
    44rem 20rem 0 0rem $scarf2,
    45rem 20rem 0 0rem $outline2, 
    46rem 20rem 0 0rem $skin2,       
    47rem 20rem 0 0rem $skin1,
    48rem 20rem 0 0rem $outline2,
    49rem 20rem 0 0rem $skin2,       
    50rem 20rem 0 0rem $skin2,
    /* row 22 */  
    14rem 21rem 0 0rem $outline,
    15rem 21rem 0 0rem $outline,      
    16rem 21rem 0 0rem $outline,
    17rem 21rem 0 0rem $outline,
    18rem 21rem 0 0rem $outline,
    19rem 21rem 0 0rem $outline,
    20rem 21rem 0 0rem $outline,                
    21rem 21rem 0 0rem $clothes,    
    22rem 21rem 0 0rem $outline2,    
    23rem 21rem 0 0rem $skin2,
    24rem 21rem 0 0rem $skin2,
    25rem 21rem 0 0rem $skin2,
    26rem 21rem 0 0rem $skin2,
    27rem 21rem 0 0rem $skin2,                                        
    28rem 21rem 0 0rem $skin2,
    29rem 21rem 0 0rem $skin2,    
    30rem 21rem 0 0rem $skin2,
    31rem 21rem 0 0rem $skin2,
    32rem 21rem 0 0rem $skin2,
    33rem 21rem 0 0rem $skin2,
    34rem 21rem 0 0rem $skin2,
    35rem 21rem 0 0rem $skin1,       
    36rem 21rem 0 0rem $skin1,
    37rem 21rem 0 0rem $skin1,
    38rem 21rem 0 0rem $skin1,
    39rem 21rem 0 0rem $skin1,       
    40rem 21rem 0 0rem $skin1,
    41rem 21rem 0 0rem $scarf1,    
    42rem 21rem 0 0rem $scarf2,
    43rem 21rem 0 0rem $scarf1,       
    44rem 21rem 0 0rem $scarf2,
    45rem 21rem 0 0rem $outline2, 
    46rem 21rem 0 0rem $skin2,       
    47rem 21rem 0 0rem $skin1,
    48rem 21rem 0 0rem $skin2,
    49rem 21rem 0 0rem $outline2, 
    /* row 23 */  
    17rem 22rem 0 0rem $clothes,                
    21rem 22rem 0 0rem $outline,    
    22rem 22rem 0 0rem $clothes,    
    23rem 22rem 0 0rem $outline2,
    24rem 22rem 0 0rem $outline2,
    25rem 22rem 0 0rem $outline2,
    26rem 22rem 0 0rem $outline2,
    27rem 22rem 0 0rem $outline2,                                        
    28rem 22rem 0 0rem $skin2,
    29rem 22rem 0 0rem $skin2,    
    30rem 22rem 0 0rem $skin2,
    31rem 22rem 0 0rem $skin2,
    32rem 22rem 0 0rem $skin2,
    33rem 22rem 0 0rem $skin2,
    34rem 22rem 0 0rem $skin2,
    35rem 22rem 0 0rem $skin2,       
    36rem 22rem 0 0rem $skin2,
    37rem 22rem 0 0rem $skin2,
    38rem 22rem 0 0rem $skin2,
    39rem 22rem 0 0rem $skin2,       
    40rem 22rem 0 0rem $scarf1,
    41rem 22rem 0 0rem $scarf2,    
    42rem 22rem 0 0rem $scarf2,
    43rem 22rem 0 0rem $scarf2,       
    44rem 22rem 0 0rem $scarf2,
    45rem 22rem 0 0rem $outline2, 
    46rem 22rem 0 0rem $skin2,       
    47rem 22rem 0 0rem $skin1,
    48rem 22rem 0 0rem $skin2,
    /* row 24 */                  
    18rem 23rem 0 0rem $outline,
    19rem 23rem 0 0rem $outline,
    20rem 23rem 0 0rem $outline,
    21rem 23rem 0 0rem $outline,                
    22rem 23rem 0 0rem $clothes,    
    23rem 23rem 0 0rem $clothes,
    24rem 23rem 0 0rem $clothes,
    25rem 23rem 0 0rem $clothes,
    26rem 23rem 0 0rem $clothes,
    27rem 23rem 0 0rem $clothes,                                        
    28rem 23rem 0 0rem $outline2,
    29rem 23rem 0 0rem $outline2,    
    30rem 23rem 0 0rem $outline2,
    31rem 23rem 0 0rem $outline2,
    32rem 23rem 0 0rem $outline2,
    33rem 23rem 0 0rem $outline2,
    34rem 23rem 0 0rem $outline2,
    35rem 23rem 0 0rem $skin2,       
    36rem 23rem 0 0rem $skin2,
    37rem 23rem 0 0rem $skin2,
    38rem 23rem 0 0rem $skin2,
    39rem 23rem 0 0rem $skin2,       
    40rem 23rem 0 0rem $scarf1,
    41rem 23rem 0 0rem $scarf2,    
    42rem 23rem 0 0rem $scarf2,
    43rem 23rem 0 0rem $scarf2,       
    44rem 23rem 0 0rem $outline2,
    45rem 23rem 0 0rem $skin2, 
    46rem 23rem 0 0rem $outline2,       
    47rem 23rem 0 0rem $skin1,
    48rem 23rem 0 0rem $skin1,
    49rem 23rem 0 0rem $skin2, 
    /* row 25 */                  
    16rem 24rem 0 0rem $outline,
    17rem 24rem 0 0rem $outline,                
    18rem 24rem 0 0rem $clothes,    
    19rem 24rem 0 0rem $clothes,
    20rem 24rem 0 0rem $outline,
    21rem 24rem 0 0rem $clothes3,    
    22rem 24rem 0 0rem $outline,
    23rem 24rem 0 0rem $outline,        
    24rem 24rem 0 0rem $outline,
    25rem 24rem 0 0rem $clothes,
    26rem 24rem 0 0rem $clothes,
    27rem 24rem 0 0rem $clothes,                                        
    28rem 24rem 0 0rem $clothes,
    29rem 24rem 0 0rem $clothes,    
    30rem 24rem 0 0rem $clothes,
    31rem 24rem 0 0rem $outline,
    35rem 24rem 0 0rem $outline2,       
    36rem 24rem 0 0rem $outline2,
    37rem 24rem 0 0rem $outline2,
    38rem 24rem 0 0rem $outline2,
    39rem 24rem 0 0rem $outline2,       
    40rem 24rem 0 0rem $scarf1,
    41rem 24rem 0 0rem $scarf2,    
    42rem 24rem 0 0rem $scarf2,
    43rem 24rem 0 0rem $scarf2,       
    44rem 24rem 0 0rem $outline2,
    45rem 24rem 0 0rem $skin2, 
    46rem 24rem 0 0rem $outline2,       
    47rem 24rem 0 0rem $skin1,
    48rem 24rem 0 0rem $skin1,
    49rem 24rem 0 0rem $skin2,
    /* row 26 */                  
    12rem 25rem 0 0rem $outline,
    13rem 25rem 0 0rem $outline,
    14rem 25rem 0 0rem $outline,
    15rem 25rem 0 0rem $outline,
    16rem 25rem 0 0rem $clothes,                        
    17rem 25rem 0 0rem $clothes,    
    18rem 25rem 0 0rem $clothes,
    19rem 25rem 0 0rem $outline,
    20rem 25rem 0 0rem $clothes3,
    21rem 25rem 0 0rem $clothes3,
    22rem 25rem 0 0rem $clothes3,            
    23rem 25rem 0 0rem $outline,        
    24rem 25rem 0 0rem $outline,
    25rem 25rem 0 0rem $outline,
    26rem 25rem 0 0rem $outline,
    27rem 25rem 0 0rem $outline,                                        
    28rem 25rem 0 0rem $outline,
    29rem 25rem 0 0rem $outline,    
    30rem 25rem 0 0rem $outline,
    31rem 25rem 0 0rem $outline,
    32rem 25rem 0 0rem $clothes,       
    33rem 25rem 0 0rem $clothes,
    34rem 25rem 0 0rem $clothes,
    35rem 25rem 0 0rem $clothes,
    36rem 25rem 0 0rem $clothes,       
    40rem 25rem 0 0rem $scarf1,
    41rem 25rem 0 0rem $scarf1,    
    42rem 25rem 0 0rem $scarf2,
    43rem 25rem 0 0rem $scarf2,       
    44rem 25rem 0 0rem $outline2,
    45rem 25rem 0 0rem $skin2, 
    46rem 25rem 0 0rem $skin2,       
    47rem 25rem 0 0rem $outline2,
    48rem 25rem 0 0rem $skin2,
    49rem 25rem 0 0rem $skin2,
    /* row 27 */                  
    13rem 26rem 0 0rem $outline,
    14rem 26rem 0 0rem $clothes,
    15rem 26rem 0 0rem $clothes,
    16rem 26rem 0 0rem $clothes,                        
    17rem 26rem 0 0rem $outline,    
    18rem 26rem 0 0rem $outline,
    19rem 26rem 0 0rem $outline,
    20rem 26rem 0 0rem $outline,
    21rem 26rem 0 0rem $outline,
    22rem 26rem 0 0rem $outline,            
    23rem 26rem 0 0rem $outline,        
    24rem 26rem 0 0rem $outline,
    25rem 26rem 0 0rem $outline,
    26rem 26rem 0 0rem $clothes2,
    27rem 26rem 0 0rem $clothes2,
    28rem 26rem 0 0rem $clothes2,
    29rem 26rem 0 0rem $clothes2,
    30rem 26rem 0 0rem $clothes3,
    31rem 26rem 0 0rem $clothes3,
    32rem 26rem 0 0rem $clothes3,
    33rem 26rem 0 0rem $clothes3,
    34rem 26rem 0 0rem $clothes3,
    35rem 26rem 0 0rem $clothes3,
    36rem 26rem 0 0rem $clothes3,                                
    37rem 26rem 0 0rem $clothes,           
    43rem 26rem 0 0rem $scarf2,       
    44rem 26rem 0 0rem $scarf2,
    45rem 26rem 0 0rem $outline2, 
    46rem 26rem 0 0rem $skin2,       
    47rem 26rem 0 0rem $skin1,
    48rem 26rem 0 0rem $skin2,
    /* row 28 */ 
    5rem 27rem 0 0rem $outline,                     
    6rem 27rem 0 0rem $outline,
    7rem 27rem 0 0rem $outline,
    8rem 27rem 0 0rem $outline,
    9rem 27rem 0 0rem $outline,
    10rem 27rem 0 0rem $outline,
    11rem 27rem 0 0rem $outline,
    12rem 27rem 0 0rem $outline,
    13rem 27rem 0 0rem $clothes,                        
    14rem 27rem 0 0rem $clothes,
    15rem 27rem 0 0rem $clothes3,
    16rem 27rem 0 0rem $clothes3,                                
    17rem 27rem 0 0rem $outline,    
    18rem 27rem 0 0rem $outline,
    19rem 27rem 0 0rem $outline,
    20rem 27rem 0 0rem $outline,
    21rem 27rem 0 0rem $outline,
    22rem 27rem 0 0rem $outline,            
    23rem 27rem 0 0rem $outline,        
    24rem 27rem 0 0rem $outline,
    25rem 27rem 0 0rem $outline,
    26rem 27rem 0 0rem $clothes2,
    27rem 27rem 0 0rem $clothes2,
    28rem 27rem 0 0rem $clothes2,
    29rem 27rem 0 0rem $clothes2,
    30rem 27rem 0 0rem $clothes2,
    31rem 27rem 0 0rem $clothes3,
    32rem 27rem 0 0rem $clothes3,
    33rem 27rem 0 0rem $clothes3,
    34rem 27rem 0 0rem $clothes3,
    35rem 27rem 0 0rem $clothes3,
    36rem 27rem 0 0rem $clothes3,                                    
    37rem 27rem 0 0rem $clothes,           
    43rem 27rem 0 0rem $scarf2,       
    44rem 27rem 0 0rem $scarf2,
    45rem 27rem 0 0rem $outline2, 
    46rem 27rem 0 0rem $skin2,       
    47rem 27rem 0 0rem $skin1,
    48rem 27rem 0 0rem $skin2,
    49rem 27rem 0 0rem $skin2,
    /* row 29 */                      
    6rem 28rem 0 0rem $outline,
    7rem 28rem 0 0rem $clothes,
    8rem 28rem 0 0rem $clothes,
    9rem 28rem 0 0rem $clothes,
    10rem 28rem 0 0rem $clothes,
    11rem 28rem 0 0rem $clothes,
    12rem 28rem 0 0rem $clothes,
    13rem 28rem 0 0rem $clothes,
    14rem 28rem 0 0rem $clothes3,
    15rem 28rem 0 0rem $clothes3,
    16rem 28rem 0 0rem $clothes3,
    17rem 28rem 0 0rem $clothes3,
    18rem 28rem 0 0rem $clothes3,
    19rem 28rem 0 0rem $clothes3,
    20rem 28rem 0 0rem $clothes3,
    21rem 28rem 0 0rem $clothes3,                                    
    22rem 28rem 0 0rem $outline,                                                            
    23rem 28rem 0 0rem $outline,        
    24rem 28rem 0 0rem $outline,
    25rem 28rem 0 0rem $clothes2,
    26rem 28rem 0 0rem $clothes2,
    27rem 28rem 0 0rem $clothes2,   
    28rem 28rem 0 0rem $clothes2,
    29rem 28rem 0 0rem $clothes2,
    30rem 28rem 0 0rem $clothes2,
    31rem 28rem 0 0rem $clothes2,
    32rem 28rem 0 0rem $clothes3,
    33rem 28rem 0 0rem $clothes3,
    34rem 28rem 0 0rem $clothes3,
    35rem 28rem 0 0rem $clothes3,
    36rem 28rem 0 0rem $clothes3,                        
    37rem 28rem 0 0rem $clothes,                  
    44rem 28rem 0 0rem $scarf2,
    45rem 28rem 0 0rem $outline2, 
    46rem 28rem 0 0rem $skin2,       
    47rem 28rem 0 0rem $skin1,
    48rem 28rem 0 0rem $skin1,
    49rem 28rem 0 0rem $skin1,
    50rem 28rem 0 0rem $skin2, 
    /* row 30 */                      
    7rem 29rem 0 0rem $outline,
    8rem 29rem 0 0rem $clothes3,
    9rem 29rem 0 0rem $clothes3,
    10rem 29rem 0 0rem $clothes3,            
    11rem 29rem 0 0rem $clothes,
    12rem 29rem 0 0rem $clothes,
    13rem 29rem 0 0rem $clothes,
    14rem 29rem 0 0rem $clothes,
    15rem 29rem 0 0rem $clothes,
    16rem 29rem 0 0rem $clothes3,
    17rem 29rem 0 0rem $clothes3,
    18rem 29rem 0 0rem $clothes3,
    19rem 29rem 0 0rem $clothes3,
    20rem 29rem 0 0rem $clothes3,                                                                                       
    21rem 29rem 0 0rem $outline,        
    22rem 29rem 0 0rem $outline,
    23rem 29rem 0 0rem $outline,
    24rem 29rem 0 0rem $clothes2,    
    25rem 29rem 0 0rem $clothes2,
    26rem 29rem 0 0rem $clothes2,
    27rem 29rem 0 0rem $clothes2, 
    28rem 29rem 0 0rem $clothes2,
    29rem 29rem 0 0rem $clothes2,
    30rem 29rem 0 0rem $clothes2,
    31rem 29rem 0 0rem $clothes2,
    32rem 29rem 0 0rem $clothes3,
    33rem 29rem 0 0rem $clothes3,
    34rem 29rem 0 0rem $clothes3,
    35rem 29rem 0 0rem $clothes3,
    36rem 29rem 0 0rem $clothes3,                                          
    37rem 29rem 0 0rem $clothes,                  
    45rem 29rem 0 0rem $outline2, 
    46rem 29rem 0 0rem $skin2,       
    47rem 29rem 0 0rem $skin1,
    48rem 29rem 0 0rem $skin1,
    49rem 29rem 0 0rem $skin1,
    50rem 29rem 0 0rem $skin2,   
    /* row 31 */  
    4rem 30rem 0 0rem $feet,
    5rem 30rem 0 0rem $feet,
    6rem 30rem 0 0rem $outline,               
    7rem 30rem 0 0rem $outline,
    8rem 30rem 0 0rem $outline,
    9rem 30rem 0 0rem $clothes3,
    10rem 30rem 0 0rem $clothes3,
    11rem 30rem 0 0rem $clothes3,
    12rem 30rem 0 0rem $clothes3,
    13rem 30rem 0 0rem $clothes3,
    14rem 30rem 0 0rem $clothes3,
    15rem 30rem 0 0rem $clothes3,
    16rem 30rem 0 0rem $clothes3,
    17rem 30rem 0 0rem $clothes3,
    18rem 30rem 0 0rem $clothes3,
    19rem 30rem 0 0rem $clothes3,                                                
    20rem 30rem 0 0rem $outline,                                                                    
    21rem 30rem 0 0rem $outline,        
    22rem 30rem 0 0rem $outline,
    23rem 30rem 0 0rem $outline,
    24rem 30rem 0 0rem $outline,    
    25rem 30rem 0 0rem $outline,
    26rem 30rem 0 0rem $outline,
    27rem 30rem 0 0rem $outline, 
    28rem 30rem 0 0rem $clothes2,
    29rem 30rem 0 0rem $clothes2,
    30rem 30rem 0 0rem $clothes2,
    31rem 30rem 0 0rem $clothes2,
    32rem 30rem 0 0rem $clothes3,
    33rem 30rem 0 0rem $clothes3,
    34rem 30rem 0 0rem $clothes3,
    35rem 30rem 0 0rem $clothes3,                                           
    36rem 30rem 0 0rem $clothes,                   
    46rem 30rem 0 0rem $outline2,       
    47rem 30rem 0 0rem $skin2,
    48rem 30rem 0 0rem $skin2,
    49rem 30rem 0 0rem $skin2,
    50rem 30rem 0 0rem $skin2,
    /* row 32 */  
    3rem 31rem 0 0rem $feet,
    4rem 31rem 0 0rem $skin2,
    5rem 31rem 0 0rem $skin2,
    6rem 31rem 0 0rem $outline,               
    7rem 31rem 0 0rem $clothes,
    8rem 31rem 0 0rem $clothes,
    9rem 31rem 0 0rem $clothes,
    10rem 31rem 0 0rem $clothes3,
    11rem 31rem 0 0rem $clothes3,
    12rem 31rem 0 0rem $clothes3,
    13rem 31rem 0 0rem $clothes3,
    14rem 31rem 0 0rem $clothes3,
    15rem 31rem 0 0rem $clothes3,
    16rem 31rem 0 0rem $clothes3,
    17rem 31rem 0 0rem $clothes3,                                        
    18rem 31rem 0 0rem $outline,                                                                    
    19rem 31rem 0 0rem $outline,        
    20rem 31rem 0 0rem $outline,
    21rem 31rem 0 0rem $outline,
    27rem 31rem 0 0rem $outline, 
    28rem 31rem 0 0rem $clothes,
    29rem 31rem 0 0rem $clothes,
    30rem 31rem 0 0rem $clothes,
    31rem 31rem 0 0rem $clothes3, 
    32rem 31rem 0 0rem $clothes3,
    33rem 31rem 0 0rem $clothes3,
    34rem 31rem 0 0rem $clothes3,
    35rem 31rem 0 0rem $clothes3,                                             
    36rem 31rem 0 0rem $clothes,
    /* row 33 */  
    3rem 32rem 0 0rem $feet,
    4rem 32rem 0 0rem $skin2,
    5rem 32rem 0 0rem $feet,
    6rem 32rem 0 0rem $outline,               
    7rem 32rem 0 0rem $outline,
    8rem 32rem 0 0rem $outline,
    9rem 32rem 0 0rem $outline,
    10rem 32rem 0 0rem $outline,
    11rem 32rem 0 0rem $outline,
    12rem 32rem 0 0rem $clothes3,
    13rem 32rem 0 0rem $clothes3,
    14rem 32rem 0 0rem $clothes3,
    15rem 32rem 0 0rem $clothes3,                            
    16rem 32rem 0 0rem $clothes, 
    17rem 32rem 0 0rem $clothes,
    26rem 32rem 0 0rem $outline,                                                                        
    27rem 32rem 0 0rem $clothes,
    28rem 32rem 0 0rem $clothes,
    29rem 32rem 0 0rem $clothes,
    30rem 32rem 0 0rem $clothes,
    31rem 32rem 0 0rem $clothes3,
    32rem 32rem 0 0rem $clothes3,
    33rem 32rem 0 0rem $clothes3,
    34rem 32rem 0 0rem $clothes3,                            
    35rem 32rem 0 0rem $clothes,   
    /* row 34 */  
    3rem 33rem 0 0rem $feet,
    4rem 33rem 0 0rem $skin2,
    5rem 33rem 0 0rem $skin2,
    6rem 33rem 0 0rem $skin2,               
    7rem 33rem 0 0rem $skin2,
    8rem 33rem 0 0rem $skin2,
    9rem 33rem 0 0rem $outline,
    10rem 33rem 0 0rem $clothes,
    11rem 33rem 0 0rem $clothes,
    12rem 33rem 0 0rem $clothes,
    13rem 33rem 0 0rem $outline, 
    14rem 33rem 0 0rem $clothes, 
    15rem 33rem 0 0rem $clothes,                            
    25rem 33rem 0 0rem $outline,                                                                        
    26rem 33rem 0 0rem $clothes,
    27rem 33rem 0 0rem $clothes,
    28rem 33rem 0 0rem $clothes,
    29rem 33rem 0 0rem $clothes,
    30rem 33rem 0 0rem $outline,
    31rem 33rem 0 0rem $clothes3,
    32rem 33rem 0 0rem $clothes3,
    33rem 33rem 0 0rem $clothes3,
    34rem 33rem 0 0rem $clothes3,                            
    35rem 33rem 0 0rem $clothes,
    /* row 35 */  
    3rem 34rem 0 0rem $feet,
    4rem 34rem 0 0rem $skin2,
    5rem 34rem 0 0rem $skin2,
    6rem 34rem 0 0rem $skin1,               
    7rem 34rem 0 0rem $skin1,
    8rem 34rem 0 0rem $feet,
    9rem 34rem 0 0rem $feet,
    10rem 34rem 0 0rem $outline,
    11rem 34rem 0 0rem $outline,
    12rem 34rem 0 0rem $outline,                      
    24rem 34rem 0 0rem $outline,  
    25rem 34rem 0 0rem $clothes,                                                                      
    26rem 34rem 0 0rem $clothes,
    27rem 34rem 0 0rem $clothes,
    28rem 34rem 0 0rem $clothes,
    29rem 34rem 0 0rem $clothes,
    30rem 34rem 0 0rem $outline,
    31rem 34rem 0 0rem $clothes3,    
    32rem 34rem 0 0rem $clothes,
    33rem 34rem 0 0rem $clothes,
    34rem 34rem 0 0rem $clothes,                    
    35rem 34rem 0 0rem $clothes,
    /* row 36 */  
    2rem 35rem 0 0rem $feet,
    3rem 35rem 0 0rem $skin2,
    4rem 35rem 0 0rem $skin2,
    5rem 35rem 0 0rem $skin1,
    6rem 35rem 0 0rem $skin1,               
    7rem 35rem 0 0rem $skin1,
    8rem 35rem 0 0rem $skin2,                
    23rem 35rem 0 0rem $outline, 
    24rem 35rem 0 0rem $outline,      
    25rem 35rem 0 0rem $outline,                                                                      
    26rem 35rem 0 0rem $outline,
    27rem 35rem 0 0rem $outline,
    28rem 35rem 0 0rem $outline,
    29rem 35rem 0 0rem $outline,
    30rem 35rem 0 0rem $skin2,
    31rem 35rem 0 0rem $clothes,
    32rem 35rem 0 0rem $skin1,
    33rem 35rem 0 0rem $skin1,
    34rem 35rem 0 0rem $skin1,                    
    35rem 35rem 0 0rem $skin2,    
    /* row 37 */  
    1rem 36rem 0 0rem $feet,
    2rem 36rem 0 0rem $skin2,
    3rem 36rem 0 0rem $skin2,
    4rem 36rem 0 0rem $skin2,
    5rem 36rem 0 0rem $skin1,
    6rem 36rem 0 0rem $skin1,               
    7rem 36rem 0 0rem $skin1,
    8rem 36rem 0 0rem $skin2,                
    29rem 36rem 0 0rem $feet,
    30rem 36rem 0 0rem $skin2,
    31rem 36rem 0 0rem $skin1,
    32rem 36rem 0 0rem $skin1,
    33rem 36rem 0 0rem $skin1,
    34rem 36rem 0 0rem $skin1,                    
    35rem 36rem 0 0rem $skin1,
    36rem 36rem 0 0rem $skin1,
    37rem 36rem 0 0rem $skin2,
    38rem 36rem 0 0rem $skin2,
    39rem 36rem 0 0rem $skin2, 
    /* row 38 */  
    1rem 37rem 0 0rem $feet,
    2rem 37rem 0 0rem $skin2,
    3rem 37rem 0 0rem $skin2,
    4rem 37rem 0 0rem $skin2,
    5rem 37rem 0 0rem $skin1,
    6rem 37rem 0 0rem $skin2,               
    7rem 37rem 0 0rem $skin1,
    8rem 37rem 0 0rem $skin1, 
    9rem 37rem 0 0rem $skin2,                    
    29rem 37rem 0 0rem $feet,
    30rem 37rem 0 0rem $skin2,
    31rem 37rem 0 0rem $skin2,
    32rem 37rem 0 0rem $skin1,
    33rem 37rem 0 0rem $skin1,
    34rem 37rem 0 0rem $skin1,                    
    35rem 37rem 0 0rem $skin1,
    36rem 37rem 0 0rem $skin1,
    37rem 37rem 0 0rem $skin1,
    38rem 37rem 0 0rem $skin2,
    39rem 37rem 0 0rem $skin1,
    40rem 37rem 0 0rem $skin2,
    /* row 39 */  
    1rem 38rem 0 0rem $feet,
    2rem 38rem 0 0rem $skin2,
    3rem 38rem 0 0rem $skin2,
    4rem 38rem 0 0rem $skin2,
    5rem 38rem 0 0rem $skin2,
    6rem 38rem 0 0rem $feet,               
    7rem 38rem 0 0rem $skin2,
    8rem 38rem 0 0rem $skin2, 
    9rem 38rem 0 0rem $feet,                    
    29rem 38rem 0 0rem $feet,
    30rem 38rem 0 0rem $skin2,
    31rem 38rem 0 0rem $skin2,
    32rem 38rem 0 0rem $skin2,
    33rem 38rem 0 0rem $skin2,
    34rem 38rem 0 0rem $skin2,                    
    35rem 38rem 0 0rem $skin2,
    36rem 38rem 0 0rem $skin2,
    37rem 38rem 0 0rem $skin2,
    38rem 38rem 0 0rem $feet,
    39rem 38rem 0 0rem $skin2,
    40rem 38rem 0 0rem $feet, 
    /* row 40 */  
    2rem 39rem 0 0rem $feet,
    3rem 39rem 0 0rem $feet,
    4rem 39rem 0 0rem $feet,
    5rem 39rem 0 0rem $feet,
    6rem 39rem 0 0rem $feet,               
    7rem 39rem 0 0rem $feet,
    8rem 39rem 0 0rem $feet, 
    9rem 39rem 0 0rem $feet,                    
    30rem 39rem 0 0rem $feet,
    31rem 39rem 0 0rem $feet,
    32rem 39rem 0 0rem $feet,
    33rem 39rem 0 0rem $feet,
    34rem 39rem 0 0rem $feet,                    
    35rem 39rem 0 0rem $feet,
    36rem 39rem 0 0rem $feet,
    37rem 39rem 0 0rem $feet,
    38rem 39rem 0 0rem $feet,
    39rem 39rem 0 0rem $feet,
    40rem 39rem 0 0rem $feet,                                 
}