/* Doom */ 
$laserlemon:#ffff66;
$supernova:#ffcc00;
$neoncarrot:#ff9933;
$orangepeel:#ff9900;
$outrageousorange:#ff6633;
$tuscany:#cc6633;
$snowymint:#a1e1e3;
$pineglade:#cccc99;
$antiquebrass:#cc9966;
$downy:#66cccc;
$patina:#669999;
$oregon:#993300;
$casal:#336666;
$hintofyellow:#f8fde6;
$sandwisp:#f7eba1;
/* Marine */
$metallicbronze:#4c3718; 
$irishcoffee:#5d4222;
$dallas:#764c28;
$mikado:#322b12;
$pottersclay:#8d5f35;
$oldcopper:#774e2c;
$lisbonbrown:#37321a;
$elpaso:#262009;
$sepiaskin:#9b623b;
$whiskey:#cf946a;
$brownrust:#b37043;
$capepalliser:#ae7144;
$abricot:#e89c6b;
$flesh:#fec09d;
$rawsienna:#ca7d4e;
$pickledbean:#694428;
$santafe:#b47348;
$hotpink:#faad7b;
$peachorange:#ffbf97;
$diserria:#da8e5b;
$copperfield:#d78b5c;
$tussock:#c07a4a;
$rajah:#f7ab79;
$shark:#26272c;
$heavymetal:#232421;
$capecod:#3e403f;
$dovegray:#626262;
$graychateau:#9fa2a6;
$quillgray:#d4d4d2;
$xanadu:#757977;
$shuttlegray:#5f6163;
$abbey:#414245;
$manatee:#878c99;
$navyblue:#00008a;
$black:#000000;

body {
    background-color: black; 
}

.doom {
    width:20rem;
    height:20rem;
    top:50%;
    left:50%;
    transform:translate(-160% ,-130%);
    position:absolute;
}

.marine {
    width:1rem;
    height:1rem;
    box-shadow:
    /* Doom */ 
    /* row 1 */
    7rem 0rem 0 0rem $downy,
    8rem 0rem 0 0rem $snowymint,
    9rem 0rem 0 0rem $snowymint,
    10rem 0rem 0 0rem $snowymint,
    11rem 0rem 0 0rem $snowymint,
    12rem 0rem 0 0rem $snowymint,
    13rem 0rem 0 0rem $snowymint,
    14rem 0rem 0 0rem $snowymint,
    15rem 0rem 0 0rem $snowymint,
    16rem 0rem 0 0rem $downy,
    23rem 0rem 0 0rem $downy,
    24rem 0rem 0 0rem $snowymint,
    25rem 0rem 0 0rem $snowymint,
    26rem 0rem 0 0rem $snowymint,
    27rem 0rem 0 0rem $snowymint,
    28rem 0rem 0 0rem $snowymint,
    29rem 0rem 0 0rem $snowymint,
    35rem 0rem 0 0rem $downy, 
    36rem 0rem 0 0rem $snowymint,
    37rem 0rem 0 0rem $snowymint,
    38rem 0rem 0 0rem $snowymint,
    39rem 0rem 0 0rem $snowymint,
    40rem 0rem 0 0rem $snowymint,
    41rem 0rem 0 0rem $downy,
    46rem 0rem 0 0rem $downy, 
    47rem 0rem 0 0rem $snowymint,
    48rem 0rem 0 0rem $snowymint,
    49rem 0rem 0 0rem $snowymint,
    55rem 0rem 0 0rem $snowymint,
    56rem 0rem 0 0rem $snowymint,
    57rem 0rem 0 0rem $snowymint,
    58rem 0rem 0 0rem $downy,                            
    /* row 2 */
    7rem 1rem 0 0rem $outrageousorange,
    8rem 1rem 0 0rem $antiquebrass,
    9rem 1rem 0 0rem $antiquebrass,
    10rem 1rem 0 0rem $antiquebrass,
    11rem 1rem 0 0rem $pineglade,
    12rem 1rem 0 0rem $antiquebrass,
    13rem 1rem 0 0rem $antiquebrass,
    14rem 1rem 0 0rem $antiquebrass,
    15rem 1rem 0 0rem $antiquebrass,
    16rem 1rem 0 0rem $pineglade,
    17rem 1rem 0 0rem $downy,
    18rem 1rem 0 0rem $outrageousorange, 
    22rem 1rem 0 0rem $downy,
    23rem 1rem 0 0rem $antiquebrass,
    24rem 1rem 0 0rem $antiquebrass,
    25rem 1rem 0 0rem $antiquebrass,
    26rem 1rem 0 0rem $antiquebrass,
    27rem 1rem 0 0rem $antiquebrass,
    28rem 1rem 0 0rem $pineglade,
    29rem 1rem 0 0rem $pineglade,
    30rem 1rem 0 0rem $snowymint,
    34rem 1rem 0 0rem $downy,
    35rem 1rem 0 0rem $antiquebrass,
    36rem 1rem 0 0rem $antiquebrass,
    37rem 1rem 0 0rem $pineglade,
    38rem 1rem 0 0rem $antiquebrass,
    39rem 1rem 0 0rem $antiquebrass,
    40rem 1rem 0 0rem $antiquebrass,
    41rem 1rem 0 0rem $antiquebrass,
    42rem 1rem 0 0rem $snowymint,
    45rem 1rem 0 0rem $oregon,
    46rem 1rem 0 0rem $outrageousorange,
    47rem 1rem 0 0rem $antiquebrass,
    48rem 1rem 0 0rem $antiquebrass,
    49rem 1rem 0 0rem $antiquebrass,
    50rem 1rem 0 0rem $snowymint,
    53rem 1rem 0 0rem $casal,
    54rem 1rem 0 0rem $downy,
    55rem 1rem 0 0rem $antiquebrass,
    56rem 1rem 0 0rem $antiquebrass,
    57rem 1rem 0 0rem $pineglade,
    58rem 1rem 0 0rem $outrageousorange,
    /* row 3 */
    7rem 2rem 0 0rem $outrageousorange,
    8rem 2rem 0 0rem $patina,
    9rem 2rem 0 0rem $patina,
    10rem 2rem 0 0rem $downy,
    11rem 2rem 0 0rem $patina,
    12rem 2rem 0 0rem $patina,
    13rem 2rem 0 0rem $patina,
    14rem 2rem 0 0rem $patina,
    15rem 2rem 0 0rem $downy,
    16rem 2rem 0 0rem $downy,
    17rem 2rem 0 0rem $antiquebrass,
    18rem 2rem 0 0rem $outrageousorange,
    19rem 2rem 0 0rem $oregon, 
    21rem 2rem 0 0rem $neoncarrot,
    22rem 2rem 0 0rem $antiquebrass,
    23rem 2rem 0 0rem $patina,
    24rem 2rem 0 0rem $patina,
    25rem 2rem 0 0rem $patina,
    26rem 2rem 0 0rem $patina,
    27rem 2rem 0 0rem $downy,
    28rem 2rem 0 0rem $downy,
    29rem 2rem 0 0rem $downy,
    30rem 2rem 0 0rem $pineglade,
    31rem 2rem 0 0rem $orangepeel,
    33rem 2rem 0 0rem $orangepeel,
    34rem 2rem 0 0rem $antiquebrass,
    35rem 2rem 0 0rem $patina,
    36rem 2rem 0 0rem $patina,
    37rem 2rem 0 0rem $patina,
    38rem 2rem 0 0rem $patina,
    39rem 2rem 0 0rem $patina,
    40rem 2rem 0 0rem $patina,
    41rem 2rem 0 0rem $downy,
    42rem 2rem 0 0rem $antiquebrass,
    43rem 2rem 0 0rem $orangepeel,
    44rem 2rem 0 0rem $oregon,
    45rem 2rem 0 0rem $oregon,
    46rem 2rem 0 0rem $orangepeel,
    47rem 2rem 0 0rem $antiquebrass,
    48rem 2rem 0 0rem $patina,
    49rem 2rem 0 0rem $downy,
    50rem 2rem 0 0rem $antiquebrass,
    51rem 2rem 0 0rem $snowymint,
    52rem 2rem 0 0rem $casal,
    53rem 2rem 0 0rem $snowymint,
    54rem 2rem 0 0rem $antiquebrass,
    55rem 2rem 0 0rem $patina,
    56rem 2rem 0 0rem $downy,
    57rem 2rem 0 0rem $antiquebrass,
    58rem 2rem 0 0rem $outrageousorange,
    /* row 4 */
    7rem 3rem 0 0rem $outrageousorange,
    8rem 3rem 0 0rem $pineglade,
    9rem 3rem 0 0rem $downy,
    10rem 3rem 0 0rem $patina,
    11rem 3rem 0 0rem $outrageousorange,
    12rem 3rem 0 0rem $outrageousorange,
    13rem 3rem 0 0rem $outrageousorange,
    14rem 3rem 0 0rem $outrageousorange,
    15rem 3rem 0 0rem $downy,
    16rem 3rem 0 0rem $patina,
    17rem 3rem 0 0rem $patina,
    18rem 3rem 0 0rem $neoncarrot,
    19rem 3rem 0 0rem $oregon,
    20rem 3rem 0 0rem $oregon,  
    21rem 3rem 0 0rem $outrageousorange,
    22rem 3rem 0 0rem $patina,
    23rem 3rem 0 0rem $downy,
    24rem 3rem 0 0rem $patina,
    25rem 3rem 0 0rem $outrageousorange,
    26rem 3rem 0 0rem $outrageousorange,
    27rem 3rem 0 0rem $outrageousorange,
    28rem 3rem 0 0rem $downy,
    29rem 3rem 0 0rem $snowymint,
    30rem 3rem 0 0rem $patina,
    31rem 3rem 0 0rem $outrageousorange,
    32rem 3rem 0 0rem $oregon,
    33rem 3rem 0 0rem $outrageousorange,
    34rem 3rem 0 0rem $patina,
    35rem 3rem 0 0rem $downy,
    36rem 3rem 0 0rem $patina,
    37rem 3rem 0 0rem $outrageousorange,
    38rem 3rem 0 0rem $outrageousorange,
    39rem 3rem 0 0rem $outrageousorange,
    40rem 3rem 0 0rem $downy,
    41rem 3rem 0 0rem $downy,
    42rem 3rem 0 0rem $patina,
    43rem 3rem 0 0rem $outrageousorange,    
    44rem 3rem 0 0rem $oregon,
    45rem 3rem 0 0rem $oregon,
    46rem 3rem 0 0rem $outrageousorange,
    47rem 3rem 0 0rem $patina,
    48rem 3rem 0 0rem $downy,    
    49rem 3rem 0 0rem $patina,
    50rem 3rem 0 0rem $patina,
    51rem 3rem 0 0rem $pineglade,
    52rem 3rem 0 0rem $snowymint,    
    53rem 3rem 0 0rem $pineglade,
    54rem 3rem 0 0rem $patina,
    55rem 3rem 0 0rem $downy,
    56rem 3rem 0 0rem $patina,
    57rem 3rem 0 0rem $patina,
    58rem 3rem 0 0rem $outrageousorange,
    /* row 5 */
    7rem 4rem 0 0rem $outrageousorange,
    8rem 4rem 0 0rem $downy,
    9rem 4rem 0 0rem $patina,
    10rem 4rem 0 0rem $downy,
    11rem 4rem 0 0rem $outrageousorange,
    12rem 4rem 0 0rem $oregon,
    13rem 4rem 0 0rem $oregon,
    14rem 4rem 0 0rem $outrageousorange,
    15rem 4rem 0 0rem $downy,
    16rem 4rem 0 0rem $patina,
    17rem 4rem 0 0rem $snowymint,
    18rem 4rem 0 0rem $outrageousorange,
    19rem 4rem 0 0rem $oregon,
    20rem 4rem 0 0rem $oregon,
    21rem 4rem 0 0rem $neoncarrot,
    22rem 4rem 0 0rem $pineglade,
    23rem 4rem 0 0rem $patina,
    24rem 4rem 0 0rem $downy,
    25rem 4rem 0 0rem $outrageousorange,
    26rem 4rem 0 0rem $oregon,
    27rem 4rem 0 0rem $outrageousorange,
    28rem 4rem 0 0rem $snowymint,
    29rem 4rem 0 0rem $patina,
    30rem 4rem 0 0rem $laserlemon,
    31rem 4rem 0 0rem $neoncarrot,
    32rem 4rem 0 0rem $oregon,
    33rem 4rem 0 0rem $neoncarrot,
    34rem 4rem 0 0rem $snowymint,
    35rem 4rem 0 0rem $patina,
    36rem 4rem 0 0rem $downy,
    37rem 4rem 0 0rem $outrageousorange,
    38rem 4rem 0 0rem $oregon,
    39rem 4rem 0 0rem $outrageousorange,
    40rem 4rem 0 0rem $downy,
    41rem 4rem 0 0rem $patina,
    42rem 4rem 0 0rem $laserlemon,
    43rem 4rem 0 0rem $neoncarrot,
    44rem 4rem 0 0rem $oregon,
    45rem 4rem 0 0rem $tuscany,
    46rem 4rem 0 0rem $neoncarrot,
    47rem 4rem 0 0rem $snowymint,
    48rem 4rem 0 0rem $patina,
    49rem 4rem 0 0rem $downy,
    50rem 4rem 0 0rem $patina,
    51rem 4rem 0 0rem $downy,
    52rem 4rem 0 0rem $pineglade,
    53rem 4rem 0 0rem $downy,
    54rem 4rem 0 0rem $downy,
    55rem 4rem 0 0rem $downy,        
    56rem 4rem 0 0rem $patina,
    57rem 4rem 0 0rem $snowymint,        
    58rem 4rem 0 0rem $outrageousorange,
    /* row 6 */
    7rem 5rem 0 0rem $outrageousorange,
    8rem 5rem 0 0rem $pineglade,
    9rem 5rem 0 0rem $downy,
    10rem 5rem 0 0rem $patina,
    11rem 5rem 0 0rem $neoncarrot,
    12rem 5rem 0 0rem $oregon,
    13rem 5rem 0 0rem $oregon,
    14rem 5rem 0 0rem $neoncarrot,
    15rem 5rem 0 0rem $patina,
    16rem 5rem 0 0rem $downy,
    17rem 5rem 0 0rem $patina,
    18rem 5rem 0 0rem $neoncarrot,
    19rem 5rem 0 0rem $oregon,
    20rem 5rem 0 0rem $oregon,
    21rem 5rem 0 0rem $outrageousorange,
    22rem 5rem 0 0rem $patina,
    23rem 5rem 0 0rem $downy,
    24rem 5rem 0 0rem $downy,    
    25rem 5rem 0 0rem $neoncarrot,
    26rem 5rem 0 0rem $oregon,
    27rem 5rem 0 0rem $neoncarrot,
    28rem 5rem 0 0rem $patina,
    29rem 5rem 0 0rem $downy,
    30rem 5rem 0 0rem $patina,
    31rem 5rem 0 0rem $outrageousorange,
    32rem 5rem 0 0rem $oregon,    
    33rem 5rem 0 0rem $outrageousorange,
    34rem 5rem 0 0rem $patina,
    35rem 5rem 0 0rem $downy,
    36rem 5rem 0 0rem $patina,
    37rem 5rem 0 0rem $neoncarrot,
    38rem 5rem 0 0rem $oregon,
    39rem 5rem 0 0rem $neoncarrot,
    40rem 5rem 0 0rem $patina,
    41rem 5rem 0 0rem $downy,
    42rem 5rem 0 0rem $patina,
    43rem 5rem 0 0rem $outrageousorange,
    44rem 5rem 0 0rem $tuscany,
    45rem 5rem 0 0rem $tuscany,
    46rem 5rem 0 0rem $outrageousorange,
    47rem 5rem 0 0rem $patina,
    48rem 5rem 0 0rem $downy,
    49rem 5rem 0 0rem $patina,
    50rem 5rem 0 0rem $downy,
    51rem 5rem 0 0rem $patina,
    52rem 5rem 0 0rem $downy,
    53rem 5rem 0 0rem $downy,
    54rem 5rem 0 0rem $downy,
    55rem 5rem 0 0rem $patina,
    56rem 5rem 0 0rem $downy,
    57rem 5rem 0 0rem $downy,    
    58rem 5rem 0 0rem $outrageousorange,
    /* row 7 */
    7rem 6rem 0 0rem $outrageousorange,
    8rem 6rem 0 0rem $downy,
    9rem 6rem 0 0rem $downy,
    10rem 6rem 0 0rem $downy,
    11rem 6rem 0 0rem $outrageousorange,
    12rem 6rem 0 0rem $oregon,
    13rem 6rem 0 0rem $oregon,
    14rem 6rem 0 0rem $outrageousorange,
    15rem 6rem 0 0rem $downy,
    16rem 6rem 0 0rem $downy,
    17rem 6rem 0 0rem $downy,
    18rem 6rem 0 0rem $outrageousorange,
    19rem 6rem 0 0rem $tuscany,
    20rem 6rem 0 0rem $oregon,
    21rem 6rem 0 0rem $neoncarrot,
    22rem 6rem 0 0rem $downy,
    23rem 6rem 0 0rem $snowymint,
    24rem 6rem 0 0rem $downy,
    25rem 6rem 0 0rem $outrageousorange,
    26rem 6rem 0 0rem $oregon,
    27rem 6rem 0 0rem $outrageousorange,
    28rem 6rem 0 0rem $downy,
    29rem 6rem 0 0rem $downy,
    30rem 6rem 0 0rem $downy,
    31rem 6rem 0 0rem $neoncarrot,
    32rem 6rem 0 0rem $tuscany,
    33rem 6rem 0 0rem $neoncarrot,
    34rem 6rem 0 0rem $downy,
    35rem 6rem 0 0rem $downy,
    36rem 6rem 0 0rem $downy,
    37rem 6rem 0 0rem $outrageousorange,
    38rem 6rem 0 0rem $oregon,
    39rem 6rem 0 0rem $outrageousorange,
    40rem 6rem 0 0rem $downy,
    41rem 6rem 0 0rem $downy,
    42rem 6rem 0 0rem $downy,
    43rem 6rem 0 0rem $neoncarrot,
    44rem 6rem 0 0rem $tuscany,
    45rem 6rem 0 0rem $outrageousorange,
    46rem 6rem 0 0rem $neoncarrot,
    47rem 6rem 0 0rem $downy,
    48rem 6rem 0 0rem $downy,
    49rem 6rem 0 0rem $downy,
    50rem 6rem 0 0rem $downy,
    51rem 6rem 0 0rem $downy,
    52rem 6rem 0 0rem $downy,
    53rem 6rem 0 0rem $downy,
    54rem 6rem 0 0rem $downy,
    55rem 6rem 0 0rem $downy,
    56rem 6rem 0 0rem $downy,
    57rem 6rem 0 0rem $snowymint,
    58rem 6rem 0 0rem $outrageousorange,
    /* row 8 */
    7rem 7rem 0 0rem $outrageousorange,
    8rem 7rem 0 0rem $pineglade,
    9rem 7rem 0 0rem $patina,
    10rem 7rem 0 0rem $snowymint,
    11rem 7rem 0 0rem $neoncarrot,
    12rem 7rem 0 0rem $tuscany,
    13rem 7rem 0 0rem $tuscany,
    14rem 7rem 0 0rem $neoncarrot,
    15rem 7rem 0 0rem $pineglade,
    16rem 7rem 0 0rem $patina,
    17rem 7rem 0 0rem $hintofyellow,
    18rem 7rem 0 0rem $neoncarrot,
    19rem 7rem 0 0rem $tuscany,
    20rem 7rem 0 0rem $tuscany,
    21rem 7rem 0 0rem $outrageousorange,
    22rem 7rem 0 0rem $downy,
    23rem 7rem 0 0rem $hintofyellow,
    24rem 7rem 0 0rem $snowymint,
    25rem 7rem 0 0rem $neoncarrot,
    26rem 7rem 0 0rem $tuscany,
    27rem 7rem 0 0rem $neoncarrot,
    28rem 7rem 0 0rem $pineglade,
    29rem 7rem 0 0rem $patina,    
    30rem 7rem 0 0rem $pineglade,
    31rem 7rem 0 0rem $neoncarrot,
    32rem 7rem 0 0rem $tuscany,
    33rem 7rem 0 0rem $outrageousorange,
    34rem 7rem 0 0rem $pineglade,
    35rem 7rem 0 0rem $patina, 
    36rem 7rem 0 0rem $hintofyellow,
    37rem 7rem 0 0rem $neoncarrot,
    38rem 7rem 0 0rem $tuscany,
    39rem 7rem 0 0rem $neoncarrot,
    40rem 7rem 0 0rem $downy,
    41rem 7rem 0 0rem $pineglade,
    42rem 7rem 0 0rem $downy,
    43rem 7rem 0 0rem $outrageousorange,
    44rem 7rem 0 0rem $outrageousorange,
    45rem 7rem 0 0rem $outrageousorange,
    46rem 7rem 0 0rem $outrageousorange,
    47rem 7rem 0 0rem $pineglade,
    48rem 7rem 0 0rem $downy,
    49rem 7rem 0 0rem $downy,
    50rem 7rem 0 0rem $downy,
    51rem 7rem 0 0rem $snowymint,
    52rem 7rem 0 0rem $downy,
    53rem 7rem 0 0rem $downy,
    54rem 7rem 0 0rem $downy,
    55rem 7rem 0 0rem $downy,
    56rem 7rem 0 0rem $downy,
    57rem 7rem 0 0rem $downy,
    58rem 7rem 0 0rem $outrageousorange,
    /* row 9 */
    7rem 8rem 0 0rem $outrageousorange,
    8rem 8rem 0 0rem $downy,
    9rem 8rem 0 0rem $snowymint,
    10rem 8rem 0 0rem $snowymint,
    11rem 8rem 0 0rem $neoncarrot,
    12rem 8rem 0 0rem $tuscany,
    13rem 8rem 0 0rem $outrageousorange,
    14rem 8rem 0 0rem $neoncarrot,
    15rem 8rem 0 0rem $pineglade,
    16rem 8rem 0 0rem $outrageousorange,
    17rem 8rem 0 0rem $tuscany,
    18rem 8rem 0 0rem $outrageousorange,
    19rem 8rem 0 0rem $outrageousorange,
    20rem 8rem 0 0rem $tuscany,
    21rem 8rem 0 0rem $neoncarrot,
    22rem 8rem 0 0rem $outrageousorange,
    23rem 8rem 0 0rem $tuscany,
    24rem 8rem 0 0rem $hintofyellow,
    25rem 8rem 0 0rem $neoncarrot,
    26rem 8rem 0 0rem $tuscany,
    27rem 8rem 0 0rem $supernova,
    28rem 8rem 0 0rem $pineglade,
    29rem 8rem 0 0rem $snowymint,
    30rem 8rem 0 0rem $snowymint,
    31rem 8rem 0 0rem $neoncarrot,
    32rem 8rem 0 0rem $outrageousorange,
    33rem 8rem 0 0rem $neoncarrot,
    34rem 8rem 0 0rem $downy,
    35rem 8rem 0 0rem $hintofyellow,
    36rem 8rem 0 0rem $downy,
    37rem 8rem 0 0rem $supernova,
    38rem 8rem 0 0rem $outrageousorange,
    39rem 8rem 0 0rem $neoncarrot,
    40rem 8rem 0 0rem $pineglade,
    41rem 8rem 0 0rem $tuscany,
    42rem 8rem 0 0rem $outrageousorange,
    43rem 8rem 0 0rem $neoncarrot,
    44rem 8rem 0 0rem $outrageousorange,
    45rem 8rem 0 0rem $outrageousorange,
    46rem 8rem 0 0rem $neoncarrot,
    47rem 8rem 0 0rem $tuscany,
    48rem 8rem 0 0rem $neoncarrot,
    49rem 8rem 0 0rem $downy,
    50rem 8rem 0 0rem $downy,
    51rem 8rem 0 0rem $pineglade,            
    52rem 8rem 0 0rem $snowymint,
    53rem 8rem 0 0rem $snowymint, 
    54rem 8rem 0 0rem $downy,
    55rem 8rem 0 0rem $snowymint,
    56rem 8rem 0 0rem $downy,
    57rem 8rem 0 0rem $downy,
    58rem 8rem 0 0rem $outrageousorange,
    /* row 10 */
    7rem 9rem 0 0rem $neoncarrot,
    8rem 9rem 0 0rem $snowymint,
    9rem 9rem 0 0rem $snowymint,
    10rem 9rem 0 0rem $downy,
    11rem 9rem 0 0rem $pineglade,
    12rem 9rem 0 0rem $outrageousorange,
    13rem 9rem 0 0rem $outrageousorange,
    14rem 9rem 0 0rem $pineglade,
    15rem 9rem 0 0rem $orangepeel,
    16rem 9rem 0 0rem $orangepeel,
    17rem 9rem 0 0rem $orangepeel,
    18rem 9rem 0 0rem $orangepeel,
    19rem 9rem 0 0rem $outrageousorange,
    20rem 9rem 0 0rem $outrageousorange,
    21rem 9rem 0 0rem $supernova,
    22rem 9rem 0 0rem $orangepeel,
    23rem 9rem 0 0rem $supernova,
    24rem 9rem 0 0rem $tuscany,
    25rem 9rem 0 0rem $laserlemon,
    26rem 9rem 0 0rem $tuscany,
    27rem 9rem 0 0rem $pineglade,
    28rem 9rem 0 0rem $laserlemon,
    29rem 9rem 0 0rem $snowymint,
    30rem 9rem 0 0rem $laserlemon,
    31rem 9rem 0 0rem $neoncarrot,
    32rem 9rem 0 0rem $outrageousorange,
    33rem 9rem 0 0rem $neoncarrot,
    34rem 9rem 0 0rem $hintofyellow,
    35rem 9rem 0 0rem $downy,
    36rem 9rem 0 0rem $snowymint,
    37rem 9rem 0 0rem $pineglade,
    38rem 9rem 0 0rem $outrageousorange,
    39rem 9rem 0 0rem $laserlemon,
    40rem 9rem 0 0rem $tuscany,
    41rem 9rem 0 0rem $supernova,
    42rem 9rem 0 0rem $neoncarrot,
    43rem 9rem 0 0rem $supernova,
    44rem 9rem 0 0rem $outrageousorange,
    45rem 9rem 0 0rem $orangepeel,
    46rem 9rem 0 0rem $orangepeel,
    47rem 9rem 0 0rem $orangepeel,
    48rem 9rem 0 0rem $orangepeel,
    49rem 9rem 0 0rem $orangepeel,
    50rem 9rem 0 0rem $orangepeel,
    51rem 9rem 0 0rem $snowymint,
    52rem 9rem 0 0rem $downy,
    53rem 9rem 0 0rem $snowymint,
    54rem 9rem 0 0rem $snowymint,
    55rem 9rem 0 0rem $downy,
    56rem 9rem 0 0rem $downy,
    57rem 9rem 0 0rem $snowymint,
    58rem 9rem 0 0rem $neoncarrot,
    /* row 11 */
    7rem 10rem 0 0rem $outrageousorange,
    8rem 10rem 0 0rem $snowymint,
    9rem 10rem 0 0rem $pineglade,
    10rem 10rem 0 0rem $downy,
    11rem 10rem 0 0rem $laserlemon,
    12rem 10rem 0 0rem $outrageousorange,
    13rem 10rem 0 0rem $outrageousorange,
    14rem 10rem 0 0rem $laserlemon,
    15rem 10rem 0 0rem $neoncarrot,
    16rem 10rem 0 0rem $neoncarrot,
    17rem 10rem 0 0rem $neoncarrot,
    18rem 10rem 0 0rem $supernova,
    19rem 10rem 0 0rem $outrageousorange,
    20rem 10rem 0 0rem $outrageousorange,
    21rem 10rem 0 0rem $pineglade,
    22rem 10rem 0 0rem $supernova,
    23rem 10rem 0 0rem $neoncarrot,
    24rem 10rem 0 0rem $supernova,
    25rem 10rem 0 0rem $laserlemon,
    26rem 10rem 0 0rem $outrageousorange,
    27rem 10rem 0 0rem $laserlemon,
    28rem 10rem 0 0rem $snowymint,
    29rem 10rem 0 0rem $pineglade,
    30rem 10rem 0 0rem $downy,
    31rem 10rem 0 0rem $laserlemon,
    32rem 10rem 0 0rem $outrageousorange,
    33rem 10rem 0 0rem $laserlemon,
    34rem 10rem 0 0rem $pineglade,
    35rem 10rem 0 0rem $snowymint,
    36rem 10rem 0 0rem $downy,
    37rem 10rem 0 0rem $laserlemon,
    38rem 10rem 0 0rem $outrageousorange,   
    39rem 10rem 0 0rem $laserlemon,
    40rem 10rem 0 0rem $supernova,
    41rem 10rem 0 0rem $neoncarrot,
    42rem 10rem 0 0rem $supernova,
    43rem 10rem 0 0rem $pineglade,
    44rem 10rem 0 0rem $orangepeel,
    45rem 10rem 0 0rem $orangepeel,
    46rem 10rem 0 0rem $laserlemon,
    47rem 10rem 0 0rem $orangepeel,
    48rem 10rem 0 0rem $supernova,
    49rem 10rem 0 0rem $orangepeel,
    50rem 10rem 0 0rem $outrageousorange,
    51rem 10rem 0 0rem $outrageousorange,
    52rem 10rem 0 0rem $outrageousorange,
    53rem 10rem 0 0rem $snowymint,
    54rem 10rem 0 0rem $sandwisp,
    55rem 10rem 0 0rem $downy,
    56rem 10rem 0 0rem $sandwisp,
    57rem 10rem 0 0rem $downy,
    58rem 10rem 0 0rem $outrageousorange,
    /* row 12 */
    7rem 11rem 0 0rem $neoncarrot,
    8rem 11rem 0 0rem $pineglade,
    9rem 11rem 0 0rem $downy,
    10rem 11rem 0 0rem $snowymint,
    11rem 11rem 0 0rem $laserlemon,
    12rem 11rem 0 0rem $outrageousorange,
    13rem 11rem 0 0rem $outrageousorange,
    14rem 11rem 0 0rem $laserlemon,
    15rem 11rem 0 0rem $supernova,
    16rem 11rem 0 0rem $supernova,
    17rem 11rem 0 0rem $supernova,
    18rem 11rem 0 0rem $laserlemon,
    19rem 11rem 0 0rem $orangepeel,
    20rem 11rem 0 0rem $outrageousorange,
    21rem 11rem 0 0rem $laserlemon,
    22rem 11rem 0 0rem $supernova,
    23rem 11rem 0 0rem $orangepeel,
    24rem 11rem 0 0rem $supernova,
    25rem 11rem 0 0rem $laserlemon,
    26rem 11rem 0 0rem $orangepeel,
    27rem 11rem 0 0rem $laserlemon,
    28rem 11rem 0 0rem $outrageousorange,
    29rem 11rem 0 0rem $orangepeel,
    30rem 11rem 0 0rem $pineglade,
    31rem 11rem 0 0rem $laserlemon,
    32rem 11rem 0 0rem $orangepeel,
    33rem 11rem 0 0rem $laserlemon,
    34rem 11rem 0 0rem $laserlemon,
    35rem 11rem 0 0rem $orangepeel,
    36rem 11rem 0 0rem $orangepeel,
    37rem 11rem 0 0rem $laserlemon,
    38rem 11rem 0 0rem $orangepeel,
    39rem 11rem 0 0rem $laserlemon,
    40rem 11rem 0 0rem $supernova,
    41rem 11rem 0 0rem $supernova,
    42rem 11rem 0 0rem $supernova,
    43rem 11rem 0 0rem $laserlemon,
    44rem 11rem 0 0rem $neoncarrot,
    45rem 11rem 0 0rem $supernova,
    46rem 11rem 0 0rem $laserlemon,
    47rem 11rem 0 0rem $supernova,
    48rem 11rem 0 0rem $neoncarrot,
    49rem 11rem 0 0rem $supernova,    
    50rem 11rem 0 0rem $neoncarrot,
    51rem 11rem 0 0rem $neoncarrot,
    52rem 11rem 0 0rem $neoncarrot,
    53rem 11rem 0 0rem $outrageousorange,
    54rem 11rem 0 0rem $tuscany,
    55rem 11rem 0 0rem $pineglade,
    56rem 11rem 0 0rem $downy,
    57rem 11rem 0 0rem $pineglade,
    58rem 11rem 0 0rem $neoncarrot,
    /* row 13 */
    7rem 12rem 0 0rem $neoncarrot,
    8rem 12rem 0 0rem $downy,
    9rem 12rem 0 0rem $neoncarrot,
    10rem 12rem 0 0rem $tuscany,
    11rem 12rem 0 0rem $laserlemon,
    12rem 12rem 0 0rem $neoncarrot,
    13rem 12rem 0 0rem $neoncarrot,
    14rem 12rem 0 0rem $laserlemon,
    15rem 12rem 0 0rem $supernova,
    16rem 12rem 0 0rem $supernova,
    17rem 12rem 0 0rem $orangepeel,
    18rem 12rem 0 0rem $laserlemon,
    19rem 12rem 0 0rem $neoncarrot,
    20rem 12rem 0 0rem $neoncarrot,
    21rem 12rem 0 0rem $laserlemon,
    22rem 12rem 0 0rem $supernova,
    23rem 12rem 0 0rem $supernova,
    24rem 12rem 0 0rem $supernova,
    25rem 12rem 0 0rem $laserlemon,
    26rem 12rem 0 0rem $neoncarrot,
    27rem 12rem 0 0rem $laserlemon,
    28rem 12rem 0 0rem $orangepeel,
    29rem 12rem 0 0rem $supernova,
    30rem 12rem 0 0rem $outrageousorange,
    31rem 12rem 0 0rem $laserlemon,
    32rem 12rem 0 0rem $neoncarrot,
    33rem 12rem 0 0rem $laserlemon,
    34rem 12rem 0 0rem $orangepeel,
    35rem 12rem 0 0rem $orangepeel,
    36rem 12rem 0 0rem $supernova,
    37rem 12rem 0 0rem $laserlemon,
    38rem 12rem 0 0rem $neoncarrot,
    39rem 12rem 0 0rem $laserlemon,
    40rem 12rem 0 0rem $orangepeel,
    41rem 12rem 0 0rem $supernova,
    42rem 12rem 0 0rem $supernova,
    43rem 12rem 0 0rem $laserlemon,
    44rem 12rem 0 0rem $neoncarrot,
    45rem 12rem 0 0rem $supernova,
    46rem 12rem 0 0rem $laserlemon,
    47rem 12rem 0 0rem $supernova,
    48rem 12rem 0 0rem $supernova,
    49rem 12rem 0 0rem $supernova,
    50rem 12rem 0 0rem $laserlemon,
    51rem 12rem 0 0rem $supernova,
    52rem 12rem 0 0rem $orangepeel,
    53rem 12rem 0 0rem $supernova,
    54rem 12rem 0 0rem $orangepeel,
    55rem 12rem 0 0rem $orangepeel,
    56rem 12rem 0 0rem $outrageousorange,
    57rem 12rem 0 0rem $downy,
    58rem 12rem 0 0rem $outrageousorange,
    /* row 14 */
    7rem 13rem 0 0rem $neoncarrot,
    8rem 13rem 0 0rem $orangepeel,
    9rem 13rem 0 0rem $neoncarrot,
    10rem 13rem 0 0rem $orangepeel,
    11rem 13rem 0 0rem $laserlemon,
    12rem 13rem 0 0rem $neoncarrot,
    13rem 13rem 0 0rem $neoncarrot,
    14rem 13rem 0 0rem $laserlemon,
    15rem 13rem 0 0rem $supernova,
    16rem 13rem 0 0rem $supernova,
    17rem 13rem 0 0rem $supernova,
    18rem 13rem 0 0rem $laserlemon,
    19rem 13rem 0 0rem $supernova,
    20rem 13rem 0 0rem $neoncarrot,
    21rem 13rem 0 0rem $laserlemon,
    22rem 13rem 0 0rem $supernova,
    23rem 13rem 0 0rem $supernova,
    24rem 13rem 0 0rem $supernova,
    25rem 13rem 0 0rem $laserlemon,
    26rem 13rem 0 0rem $neoncarrot,
    27rem 13rem 0 0rem $laserlemon,
    28rem 13rem 0 0rem $neoncarrot,
    29rem 13rem 0 0rem $orangepeel,
    30rem 13rem 0 0rem $supernova,
    31rem 13rem 0 0rem $laserlemon,
    32rem 13rem 0 0rem $supernova,
    33rem 13rem 0 0rem $laserlemon,
    34rem 13rem 0 0rem $orangepeel,
    35rem 13rem 0 0rem $orangepeel,
    36rem 13rem 0 0rem $orangepeel,
    37rem 13rem 0 0rem $laserlemon,
    38rem 13rem 0 0rem $neoncarrot,
    39rem 13rem 0 0rem $laserlemon,
    40rem 13rem 0 0rem $supernova,
    41rem 13rem 0 0rem $supernova,
    42rem 13rem 0 0rem $supernova,
    43rem 13rem 0 0rem $laserlemon,
    44rem 13rem 0 0rem $neoncarrot,
    45rem 13rem 0 0rem $supernova,
    46rem 13rem 0 0rem $laserlemon,
    47rem 13rem 0 0rem $supernova,
    48rem 13rem 0 0rem $supernova,
    49rem 13rem 0 0rem $supernova,
    50rem 13rem 0 0rem $laserlemon,
    51rem 13rem 0 0rem $supernova,
    52rem 13rem 0 0rem $supernova,
    53rem 13rem 0 0rem $supernova,
    54rem 13rem 0 0rem $orangepeel,
    55rem 13rem 0 0rem $orangepeel,
    56rem 13rem 0 0rem $supernova,
    57rem 13rem 0 0rem $orangepeel,
    58rem 13rem 0 0rem $orangepeel,
    /* row 15 */
    7rem 14rem 0 0rem $outrageousorange,
    8rem 14rem 0 0rem $supernova,
    9rem 14rem 0 0rem $orangepeel,
    10rem 14rem 0 0rem $supernova,
    11rem 14rem 0 0rem $laserlemon,
    12rem 14rem 0 0rem $neoncarrot,
    13rem 14rem 0 0rem $neoncarrot,
    14rem 14rem 0 0rem $laserlemon,
    15rem 14rem 0 0rem $supernova,
    16rem 14rem 0 0rem $supernova,
    17rem 14rem 0 0rem $supernova,
    18rem 14rem 0 0rem $laserlemon,
    19rem 14rem 0 0rem $supernova,
    20rem 14rem 0 0rem $neoncarrot,
    21rem 14rem 0 0rem $laserlemon,
    22rem 14rem 0 0rem $supernova,
    23rem 14rem 0 0rem $supernova,
    24rem 14rem 0 0rem $supernova,
    25rem 14rem 0 0rem $laserlemon,
    26rem 14rem 0 0rem $neoncarrot,
    27rem 14rem 0 0rem $laserlemon,
    28rem 14rem 0 0rem $supernova,
    29rem 14rem 0 0rem $supernova,
    30rem 14rem 0 0rem $supernova,
    31rem 14rem 0 0rem $laserlemon,
    32rem 14rem 0 0rem $supernova,
    33rem 14rem 0 0rem $laserlemon,
    34rem 14rem 0 0rem $supernova,
    35rem 14rem 0 0rem $supernova,
    36rem 14rem 0 0rem $supernova,
    37rem 14rem 0 0rem $laserlemon,
    38rem 14rem 0 0rem $neoncarrot,
    39rem 14rem 0 0rem $laserlemon,
    40rem 14rem 0 0rem $supernova,
    41rem 14rem 0 0rem $supernova,
    42rem 14rem 0 0rem $supernova,
    43rem 14rem 0 0rem $laserlemon,
    44rem 14rem 0 0rem $neoncarrot,
    45rem 14rem 0 0rem $supernova,
    46rem 14rem 0 0rem $laserlemon,
    47rem 14rem 0 0rem $supernova,
    48rem 14rem 0 0rem $supernova,
    49rem 14rem 0 0rem $supernova,
    50rem 14rem 0 0rem $laserlemon,
    51rem 14rem 0 0rem $supernova,
    52rem 14rem 0 0rem $supernova,
    53rem 14rem 0 0rem $supernova,
    54rem 14rem 0 0rem $laserlemon,
    55rem 14rem 0 0rem $supernova,
    56rem 14rem 0 0rem $orangepeel,
    57rem 14rem 0 0rem $supernova,
    58rem 14rem 0 0rem $orangepeel,
    /* row 16 */
    7rem 15rem 0 0rem $neoncarrot,
    8rem 15rem 0 0rem $supernova,
    9rem 15rem 0 0rem $supernova,
    10rem 15rem 0 0rem $supernova,
    11rem 15rem 0 0rem $laserlemon,
    12rem 15rem 0 0rem $laserlemon,
    13rem 15rem 0 0rem $laserlemon,
    14rem 15rem 0 0rem $supernova,
    15rem 15rem 0 0rem $supernova,
    16rem 15rem 0 0rem $supernova,
    17rem 15rem 0 0rem $supernova,
    18rem 15rem 0 0rem $laserlemon,
    19rem 15rem 0 0rem $supernova,
    20rem 15rem 0 0rem $neoncarrot,
    21rem 15rem 0 0rem $laserlemon,
    22rem 15rem 0 0rem $supernova,
    23rem 15rem 0 0rem $supernova,
    24rem 15rem 0 0rem $supernova,
    25rem 15rem 0 0rem $supernova,
    26rem 15rem 0 0rem $laserlemon,
    27rem 15rem 0 0rem $laserlemon,
    28rem 15rem 0 0rem $supernova,
    29rem 15rem 0 0rem $supernova,
    30rem 15rem 0 0rem $orangepeel,
    31rem 15rem 0 0rem $laserlemon,
    32rem 15rem 0 0rem $supernova,
    33rem 15rem 0 0rem $laserlemon,
    34rem 15rem 0 0rem $supernova,
    35rem 15rem 0 0rem $supernova,
    36rem 15rem 0 0rem $supernova,
    37rem 15rem 0 0rem $laserlemon,
    38rem 15rem 0 0rem $laserlemon,
    39rem 15rem 0 0rem $supernova,
    40rem 15rem 0 0rem $supernova,
    41rem 15rem 0 0rem $supernova,
    42rem 15rem 0 0rem $supernova,
    43rem 15rem 0 0rem $laserlemon,
    44rem 15rem 0 0rem $neoncarrot,
    45rem 15rem 0 0rem $supernova,
    46rem 15rem 0 0rem $laserlemon,
    47rem 15rem 0 0rem $supernova,
    48rem 15rem 0 0rem $supernova,
    49rem 15rem 0 0rem $supernova,
    50rem 15rem 0 0rem $laserlemon,
    51rem 15rem 0 0rem $supernova,
    52rem 15rem 0 0rem $supernova,
    53rem 15rem 0 0rem $supernova,
    54rem 15rem 0 0rem $laserlemon,
    55rem 15rem 0 0rem $supernova,
    56rem 15rem 0 0rem $supernova,
    57rem 15rem 0 0rem $supernova,
    58rem 15rem 0 0rem $orangepeel,
    /* row 17 */
    7rem 16rem 0 0rem $supernova,
    8rem 16rem 0 0rem $supernova,
    9rem 16rem 0 0rem $supernova,
    10rem 16rem 0 0rem $neoncarrot,
    11rem 16rem 0 0rem $laserlemon,
    12rem 16rem 0 0rem $supernova,
    13rem 16rem 0 0rem $supernova,
    14rem 16rem 0 0rem $supernova,
    15rem 16rem 0 0rem $supernova,
    16rem 16rem 0 0rem $supernova,
    17rem 16rem 0 0rem $supernova,
    18rem 16rem 0 0rem $laserlemon,
    19rem 16rem 0 0rem $supernova,
    20rem 16rem 0 0rem $neoncarrot,
    21rem 16rem 0 0rem $laserlemon,
    22rem 16rem 0 0rem $supernova,
    23rem 16rem 0 0rem $supernova,
    24rem 16rem 0 0rem $supernova,
    25rem 16rem 0 0rem $supernova,
    26rem 16rem 0 0rem $supernova,
    27rem 16rem 0 0rem $supernova,
    28rem 16rem 0 0rem $supernova,
    29rem 16rem 0 0rem $supernova,
    30rem 16rem 0 0rem $supernova,
    31rem 16rem 0 0rem $laserlemon,
    32rem 16rem 0 0rem $supernova,
    33rem 16rem 0 0rem $laserlemon,
    34rem 16rem 0 0rem $supernova,
    35rem 16rem 0 0rem $supernova,
    36rem 16rem 0 0rem $supernova,
    37rem 16rem 0 0rem $supernova,
    38rem 16rem 0 0rem $supernova,
    39rem 16rem 0 0rem $supernova,
    40rem 16rem 0 0rem $supernova,
    41rem 16rem 0 0rem $supernova,
    42rem 16rem 0 0rem $supernova,
    43rem 16rem 0 0rem $laserlemon,
    44rem 16rem 0 0rem $supernova,
    45rem 16rem 0 0rem $supernova,
    46rem 16rem 0 0rem $laserlemon,
    47rem 16rem 0 0rem $laserlemon,
    48rem 16rem 0 0rem $supernova,
    49rem 16rem 0 0rem $supernova,
    50rem 16rem 0 0rem $laserlemon,
    51rem 16rem 0 0rem $oregon,
    52rem 16rem 0 0rem $supernova,
    53rem 16rem 0 0rem $oregon,
    54rem 16rem 0 0rem $laserlemon,
    55rem 16rem 0 0rem $supernova,
    56rem 16rem 0 0rem $supernova,
    57rem 16rem 0 0rem $supernova,
    58rem 16rem 0 0rem $supernova,
    /* row 18 */
    7rem 17rem 0 0rem $laserlemon,
    8rem 17rem 0 0rem $supernova,
    9rem 17rem 0 0rem $supernova,
    10rem 17rem 0 0rem $supernova,
    11rem 17rem 0 0rem $supernova,
    12rem 17rem 0 0rem $supernova,
    13rem 17rem 0 0rem $supernova,
    14rem 17rem 0 0rem $supernova,
    15rem 17rem 0 0rem $supernova,
    16rem 17rem 0 0rem $laserlemon,
    17rem 17rem 0 0rem $supernova,
    18rem 17rem 0 0rem $laserlemon,
    19rem 17rem 0 0rem $supernova,
    20rem 17rem 0 0rem $neoncarrot,
    21rem 17rem 0 0rem $outrageousorange,
    22rem 17rem 0 0rem $laserlemon,
    23rem 17rem 0 0rem $laserlemon,
    24rem 17rem 0 0rem $supernova,
    25rem 17rem 0 0rem $supernova,
    26rem 17rem 0 0rem $supernova,
    27rem 17rem 0 0rem $supernova,
    28rem 17rem 0 0rem $supernova,
    29rem 17rem 0 0rem $supernova,
    30rem 17rem 0 0rem $laserlemon,
    31rem 17rem 0 0rem $supernova,
    32rem 17rem 0 0rem $neoncarrot,
    33rem 17rem 0 0rem $supernova,
    34rem 17rem 0 0rem $laserlemon,
    35rem 17rem 0 0rem $supernova,
    36rem 17rem 0 0rem $supernova,
    37rem 17rem 0 0rem $supernova,
    38rem 17rem 0 0rem $supernova,
    39rem 17rem 0 0rem $supernova,
    40rem 17rem 0 0rem $supernova,
    41rem 17rem 0 0rem $laserlemon,
    42rem 17rem 0 0rem $laserlemon,
    43rem 17rem 0 0rem $outrageousorange,
    44rem 17rem 0 0rem $neoncarrot,
    45rem 17rem 0 0rem $supernova,
    46rem 17rem 0 0rem $laserlemon,
    47rem 17rem 0 0rem $supernova,
    48rem 17rem 0 0rem $supernova,
    49rem 17rem 0 0rem $supernova,
    50rem 17rem 0 0rem $laserlemon,
    51rem 17rem 0 0rem $oregon,
    52rem 17rem 0 0rem $outrageousorange,
    53rem 17rem 0 0rem $tuscany,
    54rem 17rem 0 0rem $laserlemon,
    55rem 17rem 0 0rem $supernova,
    56rem 17rem 0 0rem $supernova,
    57rem 17rem 0 0rem $supernova,    
    58rem 17rem 0 0rem $laserlemon,    
    /* row 19 */
    7rem 18rem 0 0rem $laserlemon,
    8rem 18rem 0 0rem $supernova,
    9rem 18rem 0 0rem $supernova,
    10rem 18rem 0 0rem $supernova,
    11rem 18rem 0 0rem $supernova,
    12rem 18rem 0 0rem $supernova,
    13rem 18rem 0 0rem $supernova,
    14rem 18rem 0 0rem $laserlemon,
    15rem 18rem 0 0rem $supernova,
    16rem 18rem 0 0rem $laserlemon,
    17rem 18rem 0 0rem $laserlemon,
    18rem 18rem 0 0rem $laserlemon,
    19rem 18rem 0 0rem $supernova,
    20rem 18rem 0 0rem $neoncarrot,
    21rem 18rem 0 0rem $oregon,
    22rem 18rem 0 0rem $orangepeel,
    23rem 18rem 0 0rem $supernova,
    24rem 18rem 0 0rem $laserlemon,
    25rem 18rem 0 0rem $laserlemon,
    26rem 18rem 0 0rem $supernova,
    27rem 18rem 0 0rem $supernova,
    28rem 18rem 0 0rem $supernova,
    29rem 18rem 0 0rem $laserlemon,
    30rem 18rem 0 0rem $supernova,
    31rem 18rem 0 0rem $neoncarrot,
    32rem 18rem 0 0rem $oregon,
    33rem 18rem 0 0rem $neoncarrot,
    34rem 18rem 0 0rem $supernova,
    35rem 18rem 0 0rem $laserlemon,
    36rem 18rem 0 0rem $supernova,
    37rem 18rem 0 0rem $supernova,
    38rem 18rem 0 0rem $supernova,
    39rem 18rem 0 0rem $laserlemon,
    40rem 18rem 0 0rem $laserlemon,
    41rem 18rem 0 0rem $supernova,
    42rem 18rem 0 0rem $orangepeel,
    43rem 18rem 0 0rem $oregon,
    44rem 18rem 0 0rem $neoncarrot,
    45rem 18rem 0 0rem $supernova,
    46rem 18rem 0 0rem $laserlemon,
    47rem 18rem 0 0rem $laserlemon,
    48rem 18rem 0 0rem $supernova,
    49rem 18rem 0 0rem $supernova,
    50rem 18rem 0 0rem $laserlemon,
    51rem 18rem 0 0rem $tuscany,
    52rem 18rem 0 0rem $tuscany,
    53rem 18rem 0 0rem $outrageousorange,
    54rem 18rem 0 0rem $laserlemon,
    55rem 18rem 0 0rem $supernova,
    56rem 18rem 0 0rem $supernova,
    57rem 18rem 0 0rem $supernova,
    58rem 18rem 0 0rem $laserlemon,
    /* row 20 */
    7rem 19rem 0 0rem $laserlemon,
    8rem 19rem 0 0rem $supernova,
    9rem 19rem 0 0rem $supernova,
    10rem 19rem 0 0rem $supernova,
    11rem 19rem 0 0rem $supernova,
    12rem 19rem 0 0rem $laserlemon,
    13rem 19rem 0 0rem $supernova,
    14rem 19rem 0 0rem $supernova,
    15rem 19rem 0 0rem $laserlemon,
    16rem 19rem 0 0rem $laserlemon,
    17rem 19rem 0 0rem $supernova,
    18rem 19rem 0 0rem $supernova,
    19rem 19rem 0 0rem $neoncarrot,
    20rem 19rem 0 0rem $tuscany,
    22rem 19rem 0 0rem $outrageousorange,
    23rem 19rem 0 0rem $outrageousorange,
    24rem 19rem 0 0rem $orangepeel,
    25rem 19rem 0 0rem $supernova,
    26rem 19rem 0 0rem $laserlemon,
    27rem 19rem 0 0rem $laserlemon,
    28rem 19rem 0 0rem $laserlemon,
    29rem 19rem 0 0rem $supernova,
    30rem 19rem 0 0rem $neoncarrot,
    31rem 19rem 0 0rem $oregon,
    33rem 19rem 0 0rem $outrageousorange,
    34rem 19rem 0 0rem $neoncarrot,
    35rem 19rem 0 0rem $supernova,
    36rem 19rem 0 0rem $laserlemon,
    37rem 19rem 0 0rem $laserlemon,
    38rem 19rem 0 0rem $laserlemon,
    39rem 19rem 0 0rem $supernova,
    40rem 19rem 0 0rem $orangepeel,
    41rem 19rem 0 0rem $outrageousorange,
    42rem 19rem 0 0rem $outrageousorange,
    44rem 19rem 0 0rem $outrageousorange,
    45rem 19rem 0 0rem $neoncarrot,
    46rem 19rem 0 0rem $supernova,
    47rem 19rem 0 0rem $laserlemon,
    48rem 19rem 0 0rem $laserlemon,
    49rem 19rem 0 0rem $laserlemon,
    50rem 19rem 0 0rem $laserlemon,
    51rem 19rem 0 0rem $tuscany,
    52rem 19rem 0 0rem $outrageousorange,
    53rem 19rem 0 0rem $outrageousorange,
    54rem 19rem 0 0rem $laserlemon,
    55rem 19rem 0 0rem $supernova,
    56rem 19rem 0 0rem $supernova,
    57rem 19rem 0 0rem $supernova,
    58rem 19rem 0 0rem $laserlemon,
    /* row 21 */
    7rem 20rem 0 0rem $laserlemon,
    8rem 20rem 0 0rem $supernova,
    9rem 20rem 0 0rem $supernova,
    10rem 20rem 0 0rem $laserlemon,
    11rem 20rem 0 0rem $supernova,
    12rem 20rem 0 0rem $laserlemon,
    13rem 20rem 0 0rem $laserlemon,
    14rem 20rem 0 0rem $laserlemon,
    15rem 20rem 0 0rem $supernova,
    16rem 20rem 0 0rem $supernova,
    17rem 20rem 0 0rem $neoncarrot,
    18rem 20rem 0 0rem $neoncarrot,
    19rem 20rem 0 0rem $outrageousorange,
    20rem 20rem 0 0rem $outrageousorange,
    24rem 20rem 0 0rem $outrageousorange,
    25rem 20rem 0 0rem $outrageousorange,
    26rem 20rem 0 0rem $orangepeel,
    27rem 20rem 0 0rem $supernova,
    28rem 20rem 0 0rem $orangepeel,
    29rem 20rem 0 0rem $neoncarrot,
    30rem 20rem 0 0rem $outrageousorange,
    34rem 20rem 0 0rem $outrageousorange,
    35rem 20rem 0 0rem $orangepeel,
    36rem 20rem 0 0rem $supernova,
    37rem 20rem 0 0rem $orangepeel,
    38rem 20rem 0 0rem $supernova,
    39rem 20rem 0 0rem $outrageousorange,
    40rem 20rem 0 0rem $outrageousorange,
    44rem 20rem 0 0rem $outrageousorange,
    45rem 20rem 0 0rem $outrageousorange,
    46rem 20rem 0 0rem $neoncarrot,
    47rem 20rem 0 0rem $supernova,
    48rem 20rem 0 0rem $supernova,
    49rem 20rem 0 0rem $laserlemon,
    50rem 20rem 0 0rem $laserlemon,
    52rem 20rem 0 0rem $outrageousorange,
    53rem 20rem 0 0rem $supernova,
    54rem 20rem 0 0rem $laserlemon,
    55rem 20rem 0 0rem $laserlemon,
    56rem 20rem 0 0rem $supernova,
    57rem 20rem 0 0rem $supernova,
    58rem 20rem 0 0rem $laserlemon,
    /* row 22 */
    7rem 21rem 0 0rem $laserlemon,
    8rem 21rem 0 0rem $laserlemon,
    9rem 21rem 0 0rem $supernova,
    10rem 21rem 0 0rem $laserlemon,
    11rem 21rem 0 0rem $laserlemon,
    12rem 21rem 0 0rem $laserlemon,
    13rem 21rem 0 0rem $supernova,
    14rem 21rem 0 0rem $supernova,
    15rem 21rem 0 0rem $neoncarrot,
    16rem 21rem 0 0rem $neoncarrot,
    17rem 21rem 0 0rem $tuscany,
    18rem 21rem 0 0rem $outrageousorange,
    26rem 21rem 0 0rem $outrageousorange,
    27rem 21rem 0 0rem $outrageousorange,
    28rem 21rem 0 0rem $outrageousorange,
    29rem 21rem 0 0rem $outrageousorange,
    35rem 21rem 0 0rem $outrageousorange,
    36rem 21rem 0 0rem $outrageousorange,
    37rem 21rem 0 0rem $outrageousorange,
    38rem 21rem 0 0rem $outrageousorange,
    46rem 21rem 0 0rem $outrageousorange,
    47rem 21rem 0 0rem $outrageousorange,
    48rem 21rem 0 0rem $neoncarrot,
    49rem 21rem 0 0rem $supernova,
    50rem 21rem 0 0rem $supernova,
    52rem 21rem 0 0rem $outrageousorange,
    53rem 21rem 0 0rem $orangepeel,
    54rem 21rem 0 0rem $laserlemon,
    55rem 21rem 0 0rem $laserlemon,
    56rem 21rem 0 0rem $supernova,
    57rem 21rem 0 0rem $supernova,
    58rem 21rem 0 0rem $laserlemon,
    /* row 23 */
    7rem 22rem 0 0rem $laserlemon,
    8rem 22rem 0 0rem $laserlemon,
    9rem 22rem 0 0rem $laserlemon,
    10rem 22rem 0 0rem $laserlemon,
    11rem 22rem 0 0rem $supernova,
    12rem 22rem 0 0rem $supernova,
    13rem 22rem 0 0rem $neoncarrot,
    14rem 22rem 0 0rem $neoncarrot,
    15rem 22rem 0 0rem $outrageousorange,
    16rem 22rem 0 0rem $outrageousorange,
    48rem 22rem 0 0rem $outrageousorange,
    49rem 22rem 0 0rem $outrageousorange,
    52rem 22rem 0 0rem $outrageousorange,
    53rem 22rem 0 0rem $neoncarrot,
    54rem 22rem 0 0rem $supernova,
    55rem 22rem 0 0rem $laserlemon,
    56rem 22rem 0 0rem $laserlemon,
    57rem 22rem 0 0rem $laserlemon,
    58rem 22rem 0 0rem $laserlemon,
    /* row 24 */
    7rem 23rem 0 0rem $laserlemon,
    8rem 23rem 0 0rem $laserlemon,
    9rem 23rem 0 0rem $supernova,
    10rem 23rem 0 0rem $supernova,
    11rem 23rem 0 0rem $neoncarrot,
    12rem 23rem 0 0rem $neoncarrot,
    13rem 23rem 0 0rem $outrageousorange,
    14rem 23rem 0 0rem $outrageousorange,
    52rem 23rem 0 0rem $tuscany,
    53rem 23rem 0 0rem $neoncarrot,
    54rem 23rem 0 0rem $neoncarrot,
    55rem 23rem 0 0rem $supernova,
    56rem 23rem 0 0rem $supernova,
    57rem 23rem 0 0rem $laserlemon,
    58rem 23rem 0 0rem $laserlemon,
    /* row 25 */
    8rem 24rem 0 0rem $supernova,
    9rem 24rem 0 0rem $neoncarrot,
    10rem 24rem 0 0rem $neoncarrot,
    11rem 24rem 0 0rem $outrageousorange,
    12rem 24rem 0 0rem $outrageousorange,
    53rem 24rem 0 0rem $tuscany,
    54rem 24rem 0 0rem $outrageousorange,
    55rem 24rem 0 0rem $neoncarrot,
    56rem 24rem 0 0rem $neoncarrot,
    57rem 24rem 0 0rem $supernova,
    /* row 26 */
    9rem 25rem 0 0rem $outrageousorange,
    10rem 25rem 0 0rem $outrageousorange,
    55rem 25rem 0 0rem $tuscany,
    56rem 25rem 0 0rem $outrageousorange,
    /* Marine */ 
    /* row 26 */
    27rem 25rem 0 0rem $metallicbronze,    
    28rem 25rem 0 0rem $metallicbronze,
    29rem 25rem 0 0rem $metallicbronze,
    30rem 25rem 0 0rem $irishcoffee,
    31rem 25rem 0 0rem $irishcoffee,
    32rem 25rem 0 0rem $dallas,
    33rem 25rem 0 0rem $irishcoffee,
    34rem 25rem 0 0rem $irishcoffee,
    35rem 25rem 0 0rem $metallicbronze,
    36rem 25rem 0 0rem $metallicbronze,
    37rem 25rem 0 0rem $metallicbronze,
    /* row 27 */
    25rem 26rem 0 0rem $mikado,    
    26rem 26rem 0 0rem $irishcoffee,    
    27rem 26rem 0 0rem $metallicbronze,    
    28rem 26rem 0 0rem $irishcoffee,
    29rem 26rem 0 0rem $dallas,
    30rem 26rem 0 0rem $pottersclay,
    31rem 26rem 0 0rem $pottersclay,
    32rem 26rem 0 0rem $pottersclay,
    33rem 26rem 0 0rem $pottersclay,
    34rem 26rem 0 0rem $pottersclay,
    35rem 26rem 0 0rem $oldcopper,
    36rem 26rem 0 0rem $metallicbronze,
    37rem 26rem 0 0rem $metallicbronze,
    38rem 26rem 0 0rem $lisbonbrown,
    39rem 26rem 0 0rem $lisbonbrown,
    /* row 28 */
    24rem 27rem 0 0rem $mikado,    
    25rem 27rem 0 0rem $mikado,    
    26rem 27rem 0 0rem $metallicbronze,    
    27rem 27rem 0 0rem $dallas,    
    28rem 27rem 0 0rem $dallas,
    29rem 27rem 0 0rem $pottersclay,
    30rem 27rem 0 0rem $pottersclay,
    31rem 27rem 0 0rem $pottersclay,
    32rem 27rem 0 0rem $pottersclay,
    33rem 27rem 0 0rem $pottersclay,
    34rem 27rem 0 0rem $pottersclay,
    35rem 27rem 0 0rem $pottersclay,
    36rem 27rem 0 0rem $oldcopper,
    37rem 27rem 0 0rem $dallas,
    38rem 27rem 0 0rem $metallicbronze,
    39rem 27rem 0 0rem $metallicbronze,
    40rem 27rem 0 0rem $lisbonbrown,
    /* row 29 */
    23rem 28rem 0 0rem $elpaso,    
    24rem 28rem 0 0rem $elpaso,    
    25rem 28rem 0 0rem $metallicbronze,    
    26rem 28rem 0 0rem $dallas,    
    27rem 28rem 0 0rem $dallas,    
    28rem 28rem 0 0rem $pottersclay,
    29rem 28rem 0 0rem $sepiaskin,
    30rem 28rem 0 0rem $sepiaskin,
    31rem 28rem 0 0rem $pottersclay,
    32rem 28rem 0 0rem $sepiaskin,
    33rem 28rem 0 0rem $sepiaskin,
    34rem 28rem 0 0rem $pottersclay,
    35rem 28rem 0 0rem $pottersclay,
    36rem 28rem 0 0rem $oldcopper,
    37rem 28rem 0 0rem $dallas,
    38rem 28rem 0 0rem $dallas,
    39rem 28rem 0 0rem $metallicbronze,
    40rem 28rem 0 0rem $elpaso,
    41rem 28rem 0 0rem $elpaso,
    /* row 30 */
    23rem 29rem 0 0rem $mikado,    
    24rem 29rem 0 0rem $mikado,    
    25rem 29rem 0 0rem $metallicbronze,    
    26rem 29rem 0 0rem $dallas,    
    27rem 29rem 0 0rem $sepiaskin,    
    28rem 29rem 0 0rem $sepiaskin,
    29rem 29rem 0 0rem $pottersclay,
    30rem 29rem 0 0rem $sepiaskin,
    31rem 29rem 0 0rem $sepiaskin,
    32rem 29rem 0 0rem $pottersclay,
    33rem 29rem 0 0rem $sepiaskin,
    34rem 29rem 0 0rem $pottersclay,
    35rem 29rem 0 0rem $pottersclay,
    36rem 29rem 0 0rem $pottersclay,
    37rem 29rem 0 0rem $dallas,
    38rem 29rem 0 0rem $irishcoffee,
    39rem 29rem 0 0rem $metallicbronze,
    40rem 29rem 0 0rem $mikado,
    41rem 29rem 0 0rem $elpaso,
    /* row 31 */
    23rem 30rem 0 0rem $mikado,    
    24rem 30rem 0 0rem $mikado,    
    25rem 30rem 0 0rem $metallicbronze,    
    26rem 30rem 0 0rem $dallas,    
    27rem 30rem 0 0rem $pottersclay,    
    28rem 30rem 0 0rem $dallas,
    29rem 30rem 0 0rem $pottersclay,
    30rem 30rem 0 0rem $pottersclay,
    31rem 30rem 0 0rem $pottersclay,
    32rem 30rem 0 0rem $sepiaskin,
    33rem 30rem 0 0rem $pottersclay,
    34rem 30rem 0 0rem $pottersclay,
    35rem 30rem 0 0rem $dallas,
    36rem 30rem 0 0rem $dallas,
    37rem 30rem 0 0rem $dallas,
    38rem 30rem 0 0rem $dallas,
    39rem 30rem 0 0rem $metallicbronze,
    40rem 30rem 0 0rem $mikado,
    41rem 30rem 0 0rem $mikado,
    /* row 32 */
    23rem 31rem 0 0rem $mikado,    
    24rem 31rem 0 0rem $mikado,    
    25rem 31rem 0 0rem $irishcoffee,    
    26rem 31rem 0 0rem $oldcopper,    
    27rem 31rem 0 0rem $irishcoffee,    
    28rem 31rem 0 0rem $pottersclay,
    29rem 31rem 0 0rem $pottersclay,
    30rem 31rem 0 0rem $pottersclay,
    31rem 31rem 0 0rem $pottersclay,
    32rem 31rem 0 0rem $metallicbronze,
    33rem 31rem 0 0rem $pottersclay,
    34rem 31rem 0 0rem $irishcoffee,
    35rem 31rem 0 0rem $metallicbronze,
    36rem 31rem 0 0rem $irishcoffee,
    37rem 31rem 0 0rem $irishcoffee,
    38rem 31rem 0 0rem $metallicbronze,
    39rem 31rem 0 0rem $metallicbronze,
    40rem 31rem 0 0rem $mikado,
    41rem 31rem 0 0rem $mikado,
    /* row 33 */
    23rem 32rem 0 0rem $mikado,    
    24rem 32rem 0 0rem $mikado,    
    25rem 32rem 0 0rem $metallicbronze,    
    26rem 32rem 0 0rem $metallicbronze,    
    27rem 32rem 0 0rem $oldcopper,    
    28rem 32rem 0 0rem $dallas,
    29rem 32rem 0 0rem $metallicbronze,
    30rem 32rem 0 0rem $sepiaskin,
    31rem 32rem 0 0rem $pickledbean,
    32rem 32rem 0 0rem $pickledbean,
    33rem 32rem 0 0rem $metallicbronze,
    34rem 32rem 0 0rem $pickledbean,
    35rem 32rem 0 0rem $metallicbronze,
    36rem 32rem 0 0rem $metallicbronze,
    37rem 32rem 0 0rem $pickledbean,
    38rem 32rem 0 0rem $metallicbronze,
    39rem 32rem 0 0rem $pickledbean,
    40rem 32rem 0 0rem $mikado,
    41rem 32rem 0 0rem $mikado,
    /* row 34 */
    23rem 33rem 0 0rem $mikado,    
    24rem 33rem 0 0rem $mikado,    
    25rem 33rem 0 0rem $metallicbronze,    
    26rem 33rem 0 0rem $pottersclay,    
    27rem 33rem 0 0rem $dallas,    
    28rem 33rem 0 0rem $metallicbronze,
    29rem 33rem 0 0rem $pottersclay,
    30rem 33rem 0 0rem $metallicbronze,
    31rem 33rem 0 0rem $pickledbean,
    32rem 33rem 0 0rem $dallas,
    33rem 33rem 0 0rem $pickledbean,
    34rem 33rem 0 0rem $pottersclay,
    35rem 33rem 0 0rem $pottersclay,
    36rem 33rem 0 0rem $pottersclay,
    37rem 33rem 0 0rem $pickledbean,
    38rem 33rem 0 0rem $irishcoffee,
    39rem 33rem 0 0rem $metallicbronze,
    40rem 33rem 0 0rem $mikado,
    41rem 33rem 0 0rem $mikado,
    /* row 35 */
    23rem 34rem 0 0rem $mikado,    
    24rem 34rem 0 0rem $metallicbronze,    
    25rem 34rem 0 0rem $capepalliser,    
    26rem 34rem 0 0rem $capepalliser,    
    27rem 34rem 0 0rem $sepiaskin,    
    28rem 34rem 0 0rem $dallas,
    29rem 34rem 0 0rem $metallicbronze,
    30rem 34rem 0 0rem $capepalliser,
    31rem 34rem 0 0rem $metallicbronze,
    32rem 34rem 0 0rem $dallas,
    33rem 34rem 0 0rem $capepalliser,
    34rem 34rem 0 0rem $sepiaskin,
    35rem 34rem 0 0rem $pottersclay,
    36rem 34rem 0 0rem $pickledbean,
    37rem 34rem 0 0rem $dallas,
    38rem 34rem 0 0rem $pickledbean,
    39rem 34rem 0 0rem $pickledbean,
    40rem 34rem 0 0rem $metallicbronze,
    41rem 34rem 0 0rem $mikado,
    /* row 36 */
    22rem 35rem 0 0rem $whiskey,    
    23rem 35rem 0 0rem $mikado,    
    24rem 35rem 0 0rem $irishcoffee,    
    25rem 35rem 0 0rem $oldcopper,    
    26rem 35rem 0 0rem $capepalliser,    
    27rem 35rem 0 0rem $rawsienna,    
    28rem 35rem 0 0rem $santafe,
    29rem 35rem 0 0rem $capepalliser,
    30rem 35rem 0 0rem $capepalliser,
    31rem 35rem 0 0rem $capepalliser,
    32rem 35rem 0 0rem $pottersclay,
    33rem 35rem 0 0rem $capepalliser,
    34rem 35rem 0 0rem $capepalliser,
    35rem 35rem 0 0rem $capepalliser,
    36rem 35rem 0 0rem $santafe,
    37rem 35rem 0 0rem $rawsienna,
    38rem 35rem 0 0rem $capepalliser,
    39rem 35rem 0 0rem $oldcopper,
    40rem 35rem 0 0rem $irishcoffee,
    41rem 35rem 0 0rem $mikado,
    42rem 35rem 0 0rem $whiskey,
    /* row 37 */
    22rem 36rem 0 0rem $santafe,    
    23rem 36rem 0 0rem $metallicbronze,    
    24rem 36rem 0 0rem $irishcoffee,    
    25rem 36rem 0 0rem $santafe,    
    26rem 36rem 0 0rem $abricot,    
    27rem 36rem 0 0rem $peachorange,    
    28rem 36rem 0 0rem $hotpink,
    29rem 36rem 0 0rem $abricot,
    30rem 36rem 0 0rem $rawsienna,
    31rem 36rem 0 0rem $rawsienna,
    32rem 36rem 0 0rem $capepalliser,
    33rem 36rem 0 0rem $rawsienna,
    34rem 36rem 0 0rem $rawsienna,
    35rem 36rem 0 0rem $abricot,
    36rem 36rem 0 0rem $hotpink,
    37rem 36rem 0 0rem $peachorange,
    38rem 36rem 0 0rem $abricot,
    39rem 36rem 0 0rem $santafe,
    40rem 36rem 0 0rem $irishcoffee,
    41rem 36rem 0 0rem $metallicbronze,
    42rem 36rem 0 0rem $santafe,
    /* row 38 */
    22rem 37rem 0 0rem $santafe,    
    23rem 37rem 0 0rem $metallicbronze,    
    24rem 37rem 0 0rem $pottersclay,    
    25rem 37rem 0 0rem $metallicbronze,    
    26rem 37rem 0 0rem $black,    
    27rem 37rem 0 0rem $metallicbronze,    
    28rem 37rem 0 0rem $pottersclay,
    29rem 37rem 0 0rem $diserria,
    30rem 37rem 0 0rem $peachorange,
    31rem 37rem 0 0rem $santafe,
    32rem 37rem 0 0rem $abricot,
    33rem 37rem 0 0rem $santafe,
    34rem 37rem 0 0rem $peachorange,
    35rem 37rem 0 0rem $diserria,
    36rem 37rem 0 0rem $pottersclay,
    37rem 37rem 0 0rem $metallicbronze,
    38rem 37rem 0 0rem $black,
    39rem 37rem 0 0rem $metallicbronze,
    40rem 37rem 0 0rem $pottersclay,
    41rem 37rem 0 0rem $metallicbronze,
    42rem 37rem 0 0rem $santafe,
    /* row 39 */
    22rem 38rem 0 0rem $capepalliser,    
    23rem 38rem 0 0rem $irishcoffee,    
    24rem 38rem 0 0rem $irishcoffee,    
    25rem 38rem 0 0rem $metallicbronze,    
    26rem 38rem 0 0rem $pickledbean,    
    27rem 38rem 0 0rem $metallicbronze,    
    28rem 38rem 0 0rem $oldcopper,
    29rem 38rem 0 0rem $santafe,
    30rem 38rem 0 0rem $pickledbean,
    31rem 38rem 0 0rem $metallicbronze,
    32rem 38rem 0 0rem $capepalliser,
    33rem 38rem 0 0rem $metallicbronze,
    34rem 38rem 0 0rem $pickledbean,
    35rem 38rem 0 0rem $santafe,
    36rem 38rem 0 0rem $oldcopper,
    37rem 38rem 0 0rem $metallicbronze,
    38rem 38rem 0 0rem $pickledbean,
    39rem 38rem 0 0rem $metallicbronze,
    40rem 38rem 0 0rem $irishcoffee,
    41rem 38rem 0 0rem $irishcoffee,
    42rem 38rem 0 0rem $capepalliser,
    /* row 40 */
    22rem 39rem 0 0rem $pottersclay,    
    23rem 39rem 0 0rem $irishcoffee,    
    24rem 39rem 0 0rem $irishcoffee,    
    25rem 39rem 0 0rem $mikado,    
    26rem 39rem 0 0rem $manatee,    
    27rem 39rem 0 0rem $navyblue,    
    28rem 39rem 0 0rem $black,
    29rem 39rem 0 0rem $capecod,
    30rem 39rem 0 0rem $black,
    31rem 39rem 0 0rem $metallicbronze,
    32rem 39rem 0 0rem $oldcopper,
    33rem 39rem 0 0rem $metallicbronze,
    34rem 39rem 0 0rem $black,
    35rem 39rem 0 0rem $capecod,
    36rem 39rem 0 0rem $black,
    37rem 39rem 0 0rem $navyblue,
    38rem 39rem 0 0rem $manatee,
    39rem 39rem 0 0rem $mikado,
    40rem 39rem 0 0rem $irishcoffee,
    41rem 39rem 0 0rem $irishcoffee,
    42rem 39rem 0 0rem $pottersclay,
    /* row 41 */
    22rem 40rem 0 0rem $pottersclay,    
    23rem 40rem 0 0rem $irishcoffee,    
    24rem 40rem 0 0rem $sepiaskin,    
    25rem 40rem 0 0rem $pottersclay,    
    26rem 40rem 0 0rem $capepalliser,    
    27rem 40rem 0 0rem $abricot,    
    28rem 40rem 0 0rem $capepalliser,
    29rem 40rem 0 0rem $capepalliser,
    30rem 40rem 0 0rem $pickledbean,
    31rem 40rem 0 0rem $pickledbean,
    32rem 40rem 0 0rem $santafe,
    33rem 40rem 0 0rem $pickledbean,
    34rem 40rem 0 0rem $pickledbean,
    35rem 40rem 0 0rem $capepalliser,
    36rem 40rem 0 0rem $capepalliser,
    37rem 40rem 0 0rem $abricot,
    38rem 40rem 0 0rem $capepalliser,
    39rem 40rem 0 0rem $pottersclay,
    40rem 40rem 0 0rem $sepiaskin,
    41rem 40rem 0 0rem $irishcoffee,
    42rem 40rem 0 0rem $pottersclay,
    /* row 42 */
    23rem 41rem 0 0rem $pickledbean,    
    24rem 41rem 0 0rem $capepalliser,    
    25rem 41rem 0 0rem $copperfield,    
    26rem 41rem 0 0rem $capepalliser,    
    27rem 41rem 0 0rem $tussock,    
    28rem 41rem 0 0rem $abricot,
    29rem 41rem 0 0rem $diserria,
    30rem 41rem 0 0rem $capepalliser,
    31rem 41rem 0 0rem $abricot,
    32rem 41rem 0 0rem $rajah,
    33rem 41rem 0 0rem $abricot,
    34rem 41rem 0 0rem $capepalliser,
    35rem 41rem 0 0rem $diserria,
    36rem 41rem 0 0rem $abricot,
    37rem 41rem 0 0rem $tussock,
    38rem 41rem 0 0rem $capepalliser,
    39rem 41rem 0 0rem $copperfield,
    40rem 41rem 0 0rem $capepalliser,
    41rem 41rem 0 0rem $pickledbean,
    /* row 43 */
    23rem 42rem 0 0rem $pickledbean,    
    24rem 42rem 0 0rem $pottersclay,    
    25rem 42rem 0 0rem $capepalliser,    
    26rem 42rem 0 0rem $tussock,    
    27rem 42rem 0 0rem $hotpink,    
    28rem 42rem 0 0rem $brownrust,
    29rem 42rem 0 0rem $dallas,
    30rem 42rem 0 0rem $copperfield,
    31rem 42rem 0 0rem $abricot,
    32rem 42rem 0 0rem $peachorange,
    33rem 42rem 0 0rem $abricot,
    34rem 42rem 0 0rem $copperfield,
    35rem 42rem 0 0rem $dallas,
    36rem 42rem 0 0rem $brownrust,
    37rem 42rem 0 0rem $hotpink,
    38rem 42rem 0 0rem $tussock,
    39rem 42rem 0 0rem $capepalliser,
    40rem 42rem 0 0rem $pottersclay,
    41rem 42rem 0 0rem $pickledbean,
    /* row 44 */    
    24rem 43rem 0 0rem $oldcopper,    
    25rem 43rem 0 0rem $pottersclay,    
    26rem 43rem 0 0rem $sepiaskin,    
    27rem 43rem 0 0rem $abricot,    
    28rem 43rem 0 0rem $brownrust,
    29rem 43rem 0 0rem $capepalliser,
    30rem 43rem 0 0rem $tussock,
    31rem 43rem 0 0rem $sepiaskin,
    32rem 43rem 0 0rem $abricot,
    33rem 43rem 0 0rem $sepiaskin,
    34rem 43rem 0 0rem $tussock,
    35rem 43rem 0 0rem $capepalliser,
    36rem 43rem 0 0rem $brownrust,
    37rem 43rem 0 0rem $abricot,
    38rem 43rem 0 0rem $sepiaskin,
    39rem 43rem 0 0rem $pottersclay,
    40rem 43rem 0 0rem $oldcopper,
    /* row 45 */    
    24rem 44rem 0 0rem $pottersclay,    
    25rem 44rem 0 0rem $rawsienna,    
    26rem 44rem 0 0rem $pottersclay,    
    27rem 44rem 0 0rem $diserria,    
    28rem 44rem 0 0rem $pottersclay,
    29rem 44rem 0 0rem $santafe,
    30rem 44rem 0 0rem $copperfield,
    31rem 44rem 0 0rem $santafe,
    32rem 44rem 0 0rem $copperfield,
    33rem 44rem 0 0rem $santafe,
    34rem 44rem 0 0rem $diserria,
    35rem 44rem 0 0rem $pottersclay,
    36rem 44rem 0 0rem $pickledbean,
    37rem 44rem 0 0rem $abricot,
    38rem 44rem 0 0rem $pottersclay,
    39rem 44rem 0 0rem $pickledbean,
    40rem 44rem 0 0rem $oldcopper,
    /* row 46 */        
    25rem 45rem 0 0rem $capepalliser,    
    26rem 45rem 0 0rem $capepalliser,    
    27rem 45rem 0 0rem $rawsienna,    
    28rem 45rem 0 0rem $dallas,
    29rem 45rem 0 0rem $heavymetal,
    30rem 45rem 0 0rem $capecod,
    31rem 45rem 0 0rem $dovegray,
    32rem 45rem 0 0rem $xanadu,
    33rem 45rem 0 0rem $shuttlegray,
    34rem 45rem 0 0rem $abbey,
    35rem 45rem 0 0rem $heavymetal,
    36rem 45rem 0 0rem $pickledbean,
    37rem 45rem 0 0rem $rawsienna,
    38rem 45rem 0 0rem $capepalliser,
    39rem 45rem 0 0rem $santafe,
    /* row 47 */        
    25rem 46rem 0 0rem $pottersclay,    
    26rem 46rem 0 0rem $capepalliser,    
    27rem 46rem 0 0rem $rawsienna,    
    28rem 46rem 0 0rem $dallas,
    29rem 46rem 0 0rem $shark,
    30rem 46rem 0 0rem $graychateau,
    31rem 46rem 0 0rem $quillgray,
    32rem 46rem 0 0rem $quillgray,
    33rem 46rem 0 0rem $quillgray,
    34rem 46rem 0 0rem $graychateau,
    35rem 46rem 0 0rem $shark,
    36rem 46rem 0 0rem $dallas,
    37rem 46rem 0 0rem $rawsienna,
    38rem 46rem 0 0rem $capepalliser,
    39rem 46rem 0 0rem $pottersclay,
    /* row 48 */            
    26rem 47rem 0 0rem $pottersclay,    
    27rem 47rem 0 0rem $santafe,    
    28rem 47rem 0 0rem $abricot,
    29rem 47rem 0 0rem $capepalliser,
    30rem 47rem 0 0rem $rawsienna,
    31rem 47rem 0 0rem $hotpink,
    32rem 47rem 0 0rem $peachorange,
    33rem 47rem 0 0rem $hotpink,
    34rem 47rem 0 0rem $diserria,
    35rem 47rem 0 0rem $rawsienna,
    36rem 47rem 0 0rem $capepalliser,
    37rem 47rem 0 0rem $santafe,
    38rem 47rem 0 0rem $pottersclay,
    /* row 49 */            
    26rem 48rem 0 0rem $pickledbean,    
    27rem 48rem 0 0rem $sepiaskin,    
    28rem 48rem 0 0rem $rawsienna,
    29rem 48rem 0 0rem $pottersclay,
    30rem 48rem 0 0rem $pottersclay,
    31rem 48rem 0 0rem $pottersclay,
    32rem 48rem 0 0rem $oldcopper,
    33rem 48rem 0 0rem $pottersclay,
    34rem 48rem 0 0rem $pottersclay,
    35rem 48rem 0 0rem $pottersclay,
    36rem 48rem 0 0rem $antiquebrass,
    37rem 48rem 0 0rem $sepiaskin,
    38rem 48rem 0 0rem $pickledbean,
    /* row 50 */                
    27rem 49rem 0 0rem $dallas,    
    28rem 49rem 0 0rem $capepalliser,
    29rem 49rem 0 0rem $sepiaskin,
    30rem 49rem 0 0rem $capepalliser,
    31rem 49rem 0 0rem $rawsienna,
    32rem 49rem 0 0rem $abricot,
    33rem 49rem 0 0rem $rawsienna,
    34rem 49rem 0 0rem $capepalliser,
    35rem 49rem 0 0rem $pottersclay,
    36rem 49rem 0 0rem $capepalliser,
    37rem 49rem 0 0rem $dallas,
    /* row 51 */                    
    28rem 50rem 0 0rem $metallicbronze,
    29rem 50rem 0 0rem $capepalliser,
    30rem 50rem 0 0rem $abricot,
    31rem 50rem 0 0rem $abricot,
    32rem 50rem 0 0rem $flesh,
    33rem 50rem 0 0rem $abricot,
    34rem 50rem 0 0rem $abricot,
    35rem 50rem 0 0rem $capepalliser,
    36rem 50rem 0 0rem $metallicbronze,
    /* row 52 */                    
    29rem 51rem 0 0rem $pottersclay,
    30rem 51rem 0 0rem $brownrust,
    31rem 51rem 0 0rem $brownrust,
    32rem 51rem 0 0rem $brownrust,
    33rem 51rem 0 0rem $brownrust,
    34rem 51rem 0 0rem $brownrust,
    35rem 51rem 0 0rem $pottersclay,
}